@(states: List[String])
@dashmain("course_request"){
   
    <div class="navbar navbar-default" role="navigation">

        <div class="navbar-inner">
            <button type="button" class="navbar-toggle pull-left animated flip">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html"><span style="font-size:10px">ShareTheTraining.com</span></a>

            <!-- user dropdown starts -->
            <div class="btn-group pull-right">
                <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <i class="glyphicon glyphicon-user"></i><span class="hidden-sm hidden-xs"> admin</span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#">Profile</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="login.html">Logout</a>
                    </li>
                </ul>
            </div>
            <!-- user dropdown ends -->

            <!-- theme selector starts -->
            <!--
            <div class="btn-group pull-right theme-container animated tada">
                <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <i class="glyphicon glyphicon-tint"></i><span
                        class="hidden-sm hidden-xs"> Change Theme / Skin</span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" id="themes">
                    <li><a data-value="classic" href="#"><i class="whitespace"></i> Classic</a></li>
                    <li><a data-value="cerulean" href="#"><i class="whitespace"></i> Cerulean</a></li>
                    <li><a data-value="cyborg" href="#"><i class="whitespace"></i> Cyborg</a></li>
                    <li><a data-value="simplex" href="#"><i class="whitespace"></i> Simplex</a></li>
                    <li><a data-value="darkly" href="#"><i class="whitespace"></i> Darkly</a></li>
                    <li><a data-value="lumen" href="#"><i class="whitespace"></i> Lumen</a></li>
                    <li><a data-value="slate" href="#"><i class="whitespace"></i> Slate</a></li>
                    <li><a data-value="spacelab" href="#"><i class="whitespace"></i> Spacelab</a></li>
                    <li><a data-value="united" href="#"><i class="whitespace"></i> United</a></li>
                </ul>
            </div>
-->
            <!-- theme selector ends -->

            <!--
            <ul class="collapse navbar-collapse nav navbar-nav top-menu">
                <li><a href="#"><i class="glyphicon glyphicon-globe"></i> Visit Site</a></li>
                <li class="dropdown">
                    <a href="#" data-toggle="dropdown"><i class="glyphicon glyphicon-star"></i> Dropdown <span
                            class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                        <li class="divider"></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
                <li>
                    <form class="navbar-search pull-left">
                        <input placeholder="Search" class="search-query form-control col-md-10" name="query"
                               type="text">
                    </form>
                </li>
            </ul>
-->

        </div>
    </div>
    <!-- topbar ends -->
    <div class="ch-container">
        <div class="row">

           @dashSidebar()

            <noscript>
                <div class="alert alert-block col-md-12">
                    <h4 class="alert-heading">Warning!</h4>

                    <p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a>
                        enabled to use this site.</p>
                </div>
            </noscript>

            <div id="content" class="col-lg-10 col-sm-10">
                <!-- content starts -->
                <div>
                    <ul class="breadcrumb">
                        <li>
                            <a href="index.html">Home</a>
                        </li>
                        <li>
                            <a href="Dashboard.html">Dashboard</a>
                        </li>
                        <li>
                            <a href="Course_request.html">New Course Requests</a>
                        </li>
                    </ul>
                </div>

                <div class="row">
                    <div class="box col-md-12">
                        <div class="box-inner">
                            <div class="box-header well" data-original-title="">
                                <h2><i class="glyphicon glyphicon-user"></i> New Course Requests</h2>

                                <div class="box-icon">
                                    <a href="#" class="btn btn-setting btn-round btn-default"><i class="glyphicon glyphicon-cog"></i></a>
                                    <a href="#" class="btn btn-minimize btn-round btn-default"><i class="glyphicon glyphicon-chevron-up"></i></a>
                                    <a href="#" class="btn btn-close btn-round btn-default"><i class="glyphicon glyphicon-remove"></i></a>
                                </div>
                            </div>
                            <div class="box-content">
                                <table class="table table-striped table-bordered table-hover bootstrap-datatable datatable responsive" id="requestTable">
                                    <thead>
                                        <tr>
                                            <th>
                                                <input type="checkbox" class="chkAll">
                                            </th>
                                            <th>Course ID</th>
                                            <th>Course Name</th>
                                            <th>Trainer Name</th>
                                            <th>Course Type</th>
                                            <th>Minimum Seats</th>
                                            <th>Maximal Seats</th>
                                            <th>Price</th>
                                            <th>Popular</th>
                                            <th>Status</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody id="requestTableBody">

                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>
                                                <input type="checkbox" class="chkAll">
                                            </th>
                                            <th>Course ID</th>
                                            <th>Course Name</th>
                                            <th>Trainer Name</th>
                                            <th>Course Type</th>
                                            <th>Minimum Seats</th>
                                            <th>Maximal Seats</th>
                                            <th>Price</th>
                                            <th>Popular</th>
                                            <th>Status</th>
                                            <th></th>
                                        </tr>
                                    </tfoot>
                                </table>

                            </div>
                        </div>
                    </div>
                    <!--/span-->

                </div>
                <!--/row-->


                <!-- Ad ends -->

                <hr>

                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"></button>
                                <h3>Settings</h3>
                            </div>
                            <div class="modal-body">
                                <p>Here settings can be configured...</p>
                            </div>
                            <div class="modal-footer">
                                <a href="#" class="btn btn-default" data-dismiss="modal">Close</a>
                                <a href="#" class="btn btn-primary" data-dismiss="modal">Save changes</a>
                            </div>
                        </div>
                    </div>
                </div>

                <footer class="row">
                    <p class="col-md-9 col-sm-9 col-xs-12 copyright">&copy; <a href="http://greenbay.usc.edu/csci577/fall2014/projects/team11/index.html" target="_blank">Team#11</a> Fall-2014</p>

                    <p class="col-md-3 col-sm-3 col-xs-12 powered-by">Powered by: <a href="http://sharethetraining.com">ShareTheTraining.com</a>
                    </p>
                </footer>

            </div>

            <div class="modal fade" id="confirmDialog" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"></button>
                            <h3>Confirm</h3>
                        </div>
                        <div class="modal-body">
                            <p>Do you want to delete the choosen Items?</p>
                        </div>
                        <div class="modal-footer">
                            <a class="btn btn-default confirmDelete" data-dismiss="modal">Delete</a>
                            <a class="btn btn-primary confirmCancel" data-dismiss="modal">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="errorDialog" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"></button>
                            <h3>Error</h3>
                        </div>
                        <div class="modal-body">
                            <p class="errorMsg"></p>
                        </div>
                        <div class="modal-footer">
                            <a class="btn btn-primary" data-dismiss="modal">Ok</a>
                        </div>
                    </div>
                </div>
            </div>

            <div id="requestInfo" class="modal fade infoModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                            </button>
                            <h3 class="modal-title text-primary" id="myModalLabel">ShareTheTraining</h3>
                        </div>
                        <div class="modal-body">
                            <form role="form">
                                <div class="form-group col-md-4">
                                    <label>Course Id</label>
                                    <input class="form-control" name="courseInfoId" id="courseId" value="" placeholder="Course Id" readonly="true">
                                </div>
                                <div class="form-group col-md-4">
                                    <label>Course Name</label>
                                    <input class="form-control" name="courseName" id="courseName" value="" placeholder="Course Name" readonly="true">
                                </div>
                                <div class="form-group col-md-4">
                                    <label>Course Type</label>
                                    <input class="form-control" name="courseCategory" id="courseCategory" value="" placeholder="Course Type" readonly="true">
                                </div>

                                <div class="form-group col-md-12">
                                    <label>Course Description</label>
                                    <!-- <input class="form-control" 
                                    name="courseDesc" id="courseDesc" value="" placeholder="Course Description" readonly="true"> -->
                                    <textarea name="courseDesc" id="courseDesc" rows="10" cols="80">

                                </textarea>
                                </div>


                                <div class="form-group col-md-4">
                                    <label>Trainer Id</label>
                                    <input class="form-control" name="trainerId" id="trainerId" value="" placeholder="Trainer Id" readonly="true">
                                </div>
                                
                                <div class="form-group col-md-4">
                                    <label>Trainer Email</label>
                                    <input class="form-control" name="trainerEmail" id="trainerEmail" value="" placeholder="Trainer Email" readonly="true">
                                </div>
                                <div class="form-group col-md-4">
                                    <label>Methods</label>
                                    <input class="form-control" name="methods" id="methods" value="" placeholder="Methods" readonly="true">
                                </div>
                                
                                <div class="form-group col-md-4">
                                    <label>Price</label>
                                    <input class="form-control" name="price" id="price" value="" placeholder="Course Price" readonly="true">
                                </div>


                                <div class="form-group col-md-2">
                                    <label>Minimum Seats</label>
                                    <input class="form-control" name="minimum" id="minimum" value="" placeholder="Minimum Seats" readonly="true">
                                </div>
                                <div class="form-group col-md-2">
                                    <label>Maximal Seats</label>
                                    <input class="form-control" name="maximum" id="maximum" value="" placeholder="Maximal Seats" readonly="true">
                                </div>
                                <div class="form-group col-md-2">
                                    <label>Popular</label>
                                    <select name="popular" id="popular" class="form-control">
                                        <option name="popular" value="1">Yes</option>
                                        <option name="popular" value="0">No</option>
                                    </select>
                                </div>
                                
                                <div class="form-group col-md-2">
                                    <label>Display Rating</label>
                                    <select name="displayRating" id="displayRating" class="form-control">
                                        <option name="displayRating" value="1">Yes</option>
                                        <option name="displayRating" value="0">No</option>
                                    </select>
                                </div> 
                                
                                <div class="form-group col-md-3">
                                    <input class="form-control" id="keyPoint" />
                                </div>
                                <div class="form-group col-md-1">
                                    <a class="btn btn-success" id="addKeyPoint">add</a>
                                </div>
                                <div class="form-group col-md-1">
                                    <a class="btn btn-warning" id="clearKeyPoint">clear</a>
                                </div>
                                <div class="form-group col-md-7">
                                    <label>Key Words</label>
                                    <p id="keyPoints"></p>
                                </div>


                                <div class="form-group col-md-12">
                                    <label>Street</label>
                                    <input class="form-control" name="detailedLoc" id="detailedLoc" value="" placeholder="Street" readonly="true">
                                </div>
								<div class="form-group col-md-4">
                                    <label>State</label>
                                    <select onchange="showCity(this.value)" style="max-width:50%;" class="" title='Choose One' data-style="" name="state" id="state">
												<optgroup label="State:">
													<option value="" selected></option>
												@for(s <- states){
													<option value="@s">@s</option>
													}
												</optgroup>
											</select> 
                                </div>
                                <div class="form-group col-md-4">
                                    <label>City</label>
                                   <select class="" style="max-width:50%;" data-style="" name="city" id="city">
												<option value="" selected></option>
											</select> 
                                </div>
                                
                                <div class="form-group col-md-4">
                                    <label>ZIP Code</label>
                                    <input class="form-control" name="zipCode" id="zipCode" value="" placeholder="ZIP Code" readonly="true">
                                </div>

                                <div class="form-group col-md-4">
                                    <label>Length</label>
                                    <input class="form-control" name="courseLength" id="courseLength" value="" placeholder="Length" readonly="true">
                                </div>
                                <!-- <div class="form-group col-md-4">
                                    <label>Date</label>
                                    <input class="form-control" name="courseDate" id="courseDate" value="" placeholder="Date" readonly="true">
                                </div> -->
                                

                                <!--
                                <div class="form-group col-md-3">
                                    <label>Status</label>
                                    <input class="form-control" name="status" id="status" value="" placeholder="status" readonly="true">
                                </div>
-->

                                
                                <div class="form-group col-md-8">
                                    <label>Status</label>
                                    <select name="status" id="status" class="form-control">
                                        <option name="status" value="1">approved</option>
                                        <option name="status" value="2">rejected</option>
                                        <option name="status" value="0">pending</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-3">
                                    <input class="form-control" type="date" name="dates" id="datepicker" />
                                </div>
                                <div class="form-group col-md-1">
                                    <a class="btn btn-success" id="addDates">add</a>
                                </div>
                                <div class="form-group col-md-1">
                                    <a class="btn btn-warning" id="clearDates">clear</a>
                                </div>
                                <div class="form-group col-md-7">
                                    <label>Dates</label>
                                    <p id="dates"></p>
                                </div>

                            </form>
                        </div>
                        <div class="modal-footer">
                            
                            <a class="btn btn-success" id="courseRequestApprove"><i class="glyphicon glyphicon-zoom-in icon-white"></i>Add</a>
                           <!-- <a class="btn btn-danger" id="courseRequestReject"><i class="glyphicon glyphicon-zoom-in icon-white"></i>Reject</a>
                            <a class="btn btn-warning" id="courseRequestPend"><i class="glyphicon glyphicon-zoom-in icon-white"></i>Pend</a>
-->
                            <a class="btn btn-info" id="courseRequestEdit"><i class="glyphicon glyphicon-edit icon-white"></i>Edit</a>
                            <a class="btn btn-warning itemDelete" id="courseRequestDelete" data-dismiss="modal"><i class="glyphicon glyphicon-trash icon-white"></i>Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/.fluid-container-->

      

        <script src="@routes.Assets.at("dashboard/js/Course_request.js")"></script>

}
