@dashmain("Dashboard"){

    <!-- topbar starts -->
    <div class="navbar navbar-default" role="navigation">

        <div class="navbar-inner">
            <button type="button" class="navbar-toggle pull-left animated flip">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html"><span style="font-size:10px">ShareTheTraining.com</span></a>

            <!-- user dropdown starts -->
            <div class="btn-group pull-right">
                <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <i class="glyphicon glyphicon-user"></i><span class="hidden-sm hidden-xs"> admin</span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#">Profile</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="login.html">Logout</a>
                    </li>
                </ul>
            </div>
            <!-- user dropdown ends -->

            <!-- theme selector starts -->
            <!--
            <div class="btn-group pull-right theme-container animated tada">
                <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <i class="glyphicon glyphicon-tint"></i><span
                        class="hidden-sm hidden-xs"> Change Theme / Skin</span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" id="themes">
                    <li><a data-value="classic" href="#"><i class="whitespace"></i> Classic</a></li>
                    <li><a data-value="cerulean" href="#"><i class="whitespace"></i> Cerulean</a></li>
                    <li><a data-value="cyborg" href="#"><i class="whitespace"></i> Cyborg</a></li>
                    <li><a data-value="simplex" href="#"><i class="whitespace"></i> Simplex</a></li>
                    <li><a data-value="darkly" href="#"><i class="whitespace"></i> Darkly</a></li>
                    <li><a data-value="lumen" href="#"><i class="whitespace"></i> Lumen</a></li>
                    <li><a data-value="slate" href="#"><i class="whitespace"></i> Slate</a></li>
                    <li><a data-value="spacelab" href="#"><i class="whitespace"></i> Spacelab</a></li>
                    <li><a data-value="united" href="#"><i class="whitespace"></i> United</a></li>
                </ul>
            </div>
-->
            <!-- theme selector ends -->

            <!--
            <ul class="collapse navbar-collapse nav navbar-nav top-menu">
                <li><a href="http://sharethetraining.com/"><i class="glyphicon glyphicon-globe"></i> Visit Site</a></li>
                <li class="dropdown">
                    <a href="#" data-toggle="dropdown"><i class="glyphicon glyphicon-star"></i> Dropdown <span
                            class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                        <li class="divider"></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
                <li>
                    <form class="navbar-search pull-left">
                        <input placeholder="Search" class="search-query form-control col-md-10" name="query"
                               type="text">
                    </form>
                </li>
            </ul>
-->

        </div>
    </div>
    <!-- topbar ends -->
    <div class="ch-container">
        <div class="row">

            @dashSidebar()

            <noscript>
                <div class="alert alert-block col-md-12">
                    <h4 class="alert-heading">Warning!</h4>

                    <p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a>
                        enabled to use this site.</p>
                </div>
            </noscript>

            <div id="content" class="col-lg-10 col-sm-10">
                <!-- content starts -->
                <div>
                    <ul class="breadcrumb">
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li>
                            <a href="#">Dashboard</a>
                        </li>
                    </ul>
                </div>
                <div class=" row">
                <div class="col-md-1 col-sm-1 col-xs-3">
                        <a data-toggle="modal" data-target="#userInfo" title="add new admin" class="well top-block" href="" id="newadmin">
                            <i class="glyphicon glyphicon-user blue"></i>

                            <div>Total admins</div>
                            <div id="adminNumber">0</div>
                            <!-- <span id="trainerNotf" class="notification red">0</span> -->
                        </a>
                    </div>
                    
                    <div class="col-md-2 col-sm-2 col-xs-6">
                        <a data-toggle="tooltip" title="view the new trainers." class="well top-block" href="User_trainer.html?new=1" id="newTrainer">
                            <i class="glyphicon glyphicon-user red"></i>

                            <div>Total Trainers</div>
                            <div id="trainerNumber">0</div>
                            <span id="trainerNotf" class="notification red">0</span>
                        </a>
                    </div>
                    
                    <div class="col-md-2 col-sm-2 col-xs-6">
                        <a data-toggle="tooltip" title="view the new attendees" class="well top-block" href="User_attendee.html?new=1" id="newAttendee">
                            <i class="glyphicon glyphicon-user yellow"></i>

                            <div>Total Attendees</div>
                            <div id="attendeeNumber">0</div>
                            <span id="attendeeNotf" class="notification yellow">0</span>
                        </a>
                    </div>

                    <div class="col-md-2 col-sm-2 col-xs-6">
                        <a data-toggle="tooltip" title="view the new courses" class="well top-block" href="Course_list.html?new=1" id="newCourse">
                            <i class="glyphicon glyphicon-book blue"></i>

                            <div>Total Sub Courses</div>
                            <div id="courseNumber">0</div>
                            <span id="courseNotf" class="notification blue">0</span>
                        </a>
                    </div>
                    
                     <div class="col-md-2 col-sm-2 col-xs-6">
                        <a data-toggle="tooltip" title="view the new course requests" class="well top-block" href="Course_request.html?new=1" id="newRequest">
                            <i class="glyphicon glyphicon-book green"></i>

                            <div>Total Courses</div>
                            <div id="courseNumber">0</div>
                            <span id="courseNotf" class="notification green">0</span>
                        </a>
                    </div>

                    <div class="col-md-2 col-sm-2 col-xs-6">
                        <a data-toggle="tooltip" title="view the new ratings" class="well top-block" href="Rating.html?new=1" id="newRating">
                            <i class="glyphicon glyphicon-star red"></i>

                            <div>Reviews & Ratings</div>
                            <div id="ratingNumber">0</div>
                            <span id="ratingNotf" class="notification red">0</span>
                        </a>
                    </div>

                    <div class="col-md-1 col-sm-1 col-xs-3">
                        <a data-toggle="tooltip" title="view the new orders" class="well top-block" href="Course_order.html?new=1" id="newOrder">
                            <i class="glyphicon glyphicon-shopping-cart yellow"></i>

                            <div>Total Orders</div>
                            <div id="orderNumber">0</div>
                            <span id="orderNotf" class="notification yellow">0</span>
                        </a>
                    </div>
                </div>

                <div class="row">
                    <div class="box col-md-12">
                        <div class="box-inner">
                            <div class="box-header well">
                                <h2><i class="glyphicon glyphicon-info-sign"></i> Introduction</h2>

                                <div class="box-icon">
                                    <a href="#" class="btn btn-setting btn-round btn-default"><i
                            class="glyphicon glyphicon-cog"></i></a>
                                    <a href="#" class="btn btn-minimize btn-round btn-default"><i
                            class="glyphicon glyphicon-chevron-up"></i></a>
                                    <a href="#" class="btn btn-close btn-round btn-default"><i
                            class="glyphicon glyphicon-remove"></i></a>
                                </div>
                            </div>
                            <div class="box-content row">
                                <div class="col-lg-7 col-md-12">
                                    <h1>ShareTheTraining.com <br><br>
                                        <small>Administration Portal to manage Courses, Users, Trainers and Rating and Reviews. </small>
                                    </h1>
                                    <br>
                                    <br>
                                    <br>
                                    <p><b>Please perform the desired action by navigating through the menu.</b>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/span-->


                <hr>
                <footer class="row">
                    <p class="col-md-9 col-sm-9 col-xs-12 copyright">&copy; <a href="http://greenbay.usc.edu/csci577/fall2014/projects/team11/index.html" target="_blank">Team#11</a> Fall-2014</p>

                    <p class="col-md-3 col-sm-3 col-xs-12 powered-by">Powered by: <a href="http://sharethetraining.com">ShareTheTraining.com</a>
                    </p>
                </footer>
            </div>
            <!--/row-->
            <!-- content ends -->
        </div>
        <!--/#content.col-md-0-->
    </div>
    <!--/fluid-row-->



    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h3>Settings</h3>
                </div>
                <div class="modal-body">
                    <p>Here settings can be configured...</p>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-default" data-dismiss="modal">Close</a>
                    <a href="#" class="btn btn-primary" data-dismiss="modal">Save changes</a>
                </div>
            </div>
        </div>
    </div>
    
    <div id="userInfo" class="modal fade infoModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                            </button>
                            <h3 class="modal-title text-primary" id="myModalLabel">ShareTheTraining</h3>
                        </div>
                        <div class="modal-body">
                            <form role="form">
                                <!-- <div class="form-group col-md-3">
                                    <label>User ID</label>
                                    <input class="form-control" name="id" id="id" value="" placeholder="User ID" >
                                </div> -->
                                <div class="form-group col-md-4">
                                    <label>userName</label>
                                    <input class="form-control" name="userName" id="userName" value="" placeholder="userName">
                                </div>
                                <div class="form-group col-md-4">
                                    <label>Password</label>
                                    <input class="form-control" name="password" id="password" value="" placeholder="Password">
                                </div>
                                <div class="form-group col-md-4">
                                    <label> Confirm Password</label>
                                    <input class="form-control" name="password1" id="password1" value="" placeholder="type Password again" >
                                </div>
                                <div class="form-group col-md-4">
                                    <label>Name</label>
                                    <input class="form-control" name="name" id="name" value="" placeholder="Name" >
                                </div>
                                <div class="form-group col-md-4">
                                    <label>Email</label>
                                    <input class="form-control" name="email" id="email" value="" placeholder="Email">
                                </div>

                                <div class="form-group col-md-4">
                                    <label>Cell Phone</label>
                                    <input class="form-control" name="cellPhone" id="cellPhone" value="" placeholder="Cell Phone">
                                </div>
                                <div class="form-group col-md-4">
                                    <label>Phone</label>
                                    <input class="form-control" name="phone" id="phone" value="" placeholder="Phone">
                                </div>
                                <div class="form-group col-md-4">
                                    <label>State</label>
                                    <input class="form-control" name="state" id="state" value="" placeholder="State">
                                </div>
                                <div class="form-group col-md-4">
                                    <label>City</label>
                                    <input class="form-control" name="city" id="city" value="" placeholder="City">
                                </div>
                                
                                <div class="form-group col-md-10">
                                    <label>Street</label>
                                    <input class="form-control" name="detailedLoc" id="detailedLoc" value="" placeholder="Street" readonly="true">
                                </div>                                
                                <div class="form-group col-md-2">
                                    <label>ZIP Code</label>
                                    <input class="form-control" name="zipCode" id="zipCode" value="" placeholder="ZIP Code" readonly="true">
                                </div>

                                <div class="form-group col-md-12">
                                    <label>Status</label>
                                    <select name="userStatus" id="userStatus" class="form-control">
                                        <option name="userStatus" value="1">active</option>
                                        <option name="userStatus" value="0">inactive</option>
                                    </select>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <a class="btn btn-info" id="userAdd"><i class="glyphicon glyphicon-edit icon-white"></i>Add</a>
                        </div>
                    </div>
                </div>
                </div>


    <!--/.fluid-container-->

   
    <!--myjs-->
    <script src="@routes.Assets.at("dashboard/js/dashboard.js")"></script>

}
