@dashmain("rating"){
    <!-- topbar starts -->
    <div class="navbar navbar-default" role="navigation">

        <div class="navbar-inner">
            <button type="button" class="navbar-toggle pull-left animated flip">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html"><span style="font-size:10px">ShareTheTraining.com</span></a>

            <!-- user dropdown starts -->
            <div class="btn-group pull-right">
                <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <i class="glyphicon glyphicon-user"></i><span class="hidden-sm hidden-xs"> admin</span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#">Profile</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="login.html">Logout</a>
                    </li>
                </ul>
            </div>
            <!-- user dropdown ends -->

            <!-- theme selector starts -->
            <!--
            <div class="btn-group pull-right theme-container animated tada">
                <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <i class="glyphicon glyphicon-tint"></i><span
                        class="hidden-sm hidden-xs"> Change Theme / Skin</span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" id="themes">
                    <li><a data-value="classic" href="#"><i class="whitespace"></i> Classic</a></li>
                    <li><a data-value="cerulean" href="#"><i class="whitespace"></i> Cerulean</a></li>
                    <li><a data-value="cyborg" href="#"><i class="whitespace"></i> Cyborg</a></li>
                    <li><a data-value="simplex" href="#"><i class="whitespace"></i> Simplex</a></li>
                    <li><a data-value="darkly" href="#"><i class="whitespace"></i> Darkly</a></li>
                    <li><a data-value="lumen" href="#"><i class="whitespace"></i> Lumen</a></li>
                    <li><a data-value="slate" href="#"><i class="whitespace"></i> Slate</a></li>
                    <li><a data-value="spacelab" href="#"><i class="whitespace"></i> Spacelab</a></li>
                    <li><a data-value="united" href="#"><i class="whitespace"></i> United</a></li>
                </ul>
            </div>
-->
            <!-- theme selector ends -->

            <!--
            <ul class="collapse navbar-collapse nav navbar-nav top-menu">
                <li><a href="#"><i class="glyphicon glyphicon-globe"></i> Visit Site</a></li>
                <li class="dropdown">
                    <a href="#" data-toggle="dropdown"><i class="glyphicon glyphicon-star"></i> Dropdown <span
                            class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                        <li class="divider"></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
                <li>
                    <form class="navbar-search pull-left">
                        <input placeholder="Search" class="search-query form-control col-md-10" name="query"
                               type="text">
                    </form>
                </li>
            </ul>
-->

        </div>
    </div>
    <!-- topbar ends -->
    <div class="ch-container">
        <div class="row">

            @dashSidebar()

            <noscript>
                <div class="alert alert-block col-md-12">
                    <h4 class="alert-heading">Warning!</h4>

                    <p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a>
                        enabled to use this site.</p>
                </div>
            </noscript>

            <div id="content" class="col-lg-10 col-sm-10">
                <!-- content starts -->
                <div>
                    <ul class="breadcrumb">
                        <li>
                            <a href="index.html">Home</a>
                        </li>
                        <li>
                            <a href="Dashboard.html">Dashboard</a>
                        </li>
                        <li>
                            <a href="Rating.html">Ratings & Reviews</a>
                        </li>
                    </ul>
                </div>

                <div class="row">
                    <div class="box col-md-12">
                        <div class="box-inner">
                            <div class="box-header well" data-original-title="">
                                <h2><i class="glyphicon glyphicon-user"></i> Rating & Reviews</h2>

                                <div class="box-icon">
                                    <a href="#" class="btn btn-setting btn-round btn-default"><i class="glyphicon glyphicon-cog"></i></a>
                                    <a href="#" class="btn btn-minimize btn-round btn-default"><i
                    class="glyphicon glyphicon-chevron-up"></i></a>
                                    <a href="#" class="btn btn-close btn-round btn-default"><i class="glyphicon glyphicon-remove"></i></a>
                                </div>
                            </div>
                            <div class="box-content">
                                <table class="table table-striped table-bordered table-hover bootstrap-datatable datatable responsive" id="ratingTable">
                                    <thead>
                                        <tr>
                                            <th>
                                                <input type="checkbox" class="chkAll">
                                            </th>
                                            <th>Review ID</th>
                                            <th>Course ID</th>
                                            <th>Course Name</th>
                                            <th>Trainer Name</th>
                                            <th>Customer userName</th>
                                            <th>Course Rating</th>
                                            <th>Trainer Rating</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody id="ratingTableBody">

                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>
                                                <input type="checkbox" class="chkAll">
                                            </th>
                                            <th>Review ID</th>
                                            <th>Course ID</th>
                                            <th>Course Name</th>
                                            <th>Trainer Name</th>
                                            <th>Customer userName</th>
                                            <th>Course Rating</th>
                                            <th>Trainer Rating</th>
                                            <th></th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!--/span-->

                </div>
                <!--/row-->



                <hr>

                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"></button>
                                <h3>Settings</h3>
                            </div>
                            <div class="modal-body">
                                <p>Here settings can be configured...</p>
                            </div>
                            <div class="modal-footer">
                                <a href="#" class="btn btn-default" data-dismiss="modal">Close</a>
                                <a href="#" class="btn btn-primary" data-dismiss="modal">Save changes</a>
                            </div>
                        </div>
                    </div>
                </div>

                <footer class="row">
                    <p class="col-md-9 col-sm-9 col-xs-12 copyright">&copy; <a href="http://greenbay.usc.edu/csci577/fall2014/projects/team11/index.html" target="_blank">Team#11</a> Fall-2014</p>

                    <p class="col-md-3 col-sm-3 col-xs-12 powered-by">Powered by: <a href="http://sharethetraining.com">ShareTheTraining.com</a>
                    </p>
                </footer>

            </div>

            <div class="modal fade" id="confirmDialog" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"></button>
                            <h3>Confirm</h3>
                        </div>
                        <div class="modal-body">
                            <p>Do you want to delete the choosen Items?</p>
                        </div>
                        <div class="modal-footer">
                            <a class="btn btn-default confirmDelete" data-dismiss="modal">Delete</a>
                            <a class="btn btn-primary confirmCancel" data-dismiss="modal">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="errorDialog" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"></button>
                            <h3>Error</h3>
                        </div>
                        <div class="modal-body">
                            <p class="errorMsg"></p>
                        </div>
                        <div class="modal-footer">
                            <a class="btn btn-primary" data-dismiss="modal">Ok</a>
                        </div>
                    </div>
                </div>
            </div>

            <div id="ratingInfo" class="modal fade infoModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                            </button>
                            <h3 class="modal-title text-primary" id="myModalLabel">ShareTheTraining</h3>
                        </div>
                        <div class="modal-body">
                            <form role="form">

                                <div class="form-group col-md-4">
                                    <label>Review ID</label>
                                    <input class="form-control" name="reviewId" id="reviewId" value="" placeholder="Review ID" readonly="true">
                                </div>
                                <div class="form-group col-md-4">
                                    <label>Subcourse ID</label>
                                    <input class="form-control" name="concreteCourseId" id="concreteCourseId" value="" placeholder="course ID" readonly="true">
                                </div>
                                <div class="form-group col-md-4">
                                    <label>Course Name</label>
                                    <input class="form-control" name="courseName" id="courseName" value="" placeholder="Course Name" readonly="true">
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Trainer Name</label>
                                    <input class="form-control" name="trainerName" id="trainerName" value="" placeholder="Trainer Name" readonly="true">
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Customer userName</label>
                                    <input class="form-control" name="userName" id="userName" value="" placeholder="User Name" readonly="true">
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Course Rating</label>
                                    <input class="form-control" name="courseRating" id="courseRating" value="" placeholder="Course Rating" readonly="true">
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Trainer Rating</label>
                                    <input class="form-control" name="trainerRating" id="trainerRating" value="" placeholder="Trainer Rating" readonly="true">
                                </div>

                                <div class="form-group col-md-11">
                                    <label>Course Rating 1</label>
                                    <input class="form-control" name="" id="" value="The learning objectives and key points were clear." readonly="true">
                                </div>
                                <div class="form-group col-md-1">
                                    <label>Score</label>
                                    <input class="form-control" name="courserRating1" id="courseRating1" value="" placeholder="0" readonly="true">
                                </div>
                                <div class="form-group col-md-11">
                                    <label>Course Rating 2</label>
                                    <input class="form-control" name="" id="" value="The structure was logical and flowed well." readonly="true">
                                </div>
                                <div class="form-group col-md-1">
                                    <label>Score</label>
                                    <input class="form-control" name="courserRating2" id="courseRating2" value="" placeholder="0" readonly="true">
                                </div>
                                <div class="form-group col-md-11">
                                    <label>Course Rating 3</label>
                                    <input class="form-control" name="" id="" value="The content and examples were targeted and current." readonly="true">
                                </div>
                                <div class="form-group col-md-1">
                                    <label>Score</label>
                                    <input class="form-control" name="courserRating3" id="courseRating3" value="" placeholder="0" readonly="true">
                                </div>
                                <div class="form-group col-md-11">
                                    <label>Course Rating 4</label>
                                    <input class="form-control" name="" id="" value="The exercises (individual and group) were effective and had clear directions." readonly="true">
                                </div>
                                <div class="form-group col-md-1">
                                    <label>Score</label>
                                    <input class="form-control" name="courserRating4" id="courseRating4" value="" placeholder="0" readonly="true">
                                </div>
                                <div class="form-group col-md-11">
                                    <label>Course Rating 5</label>
                                    <input class="form-control" name="" id="" value="The visual aids supported the content." readonly="true">
                                </div>
                                <div class="form-group col-md-1">
                                    <label>Score</label>
                                    <input class="form-control" name="courserRating5" id="courseRating5" value="" placeholder="0" readonly="true">
                                </div>
                                
                                <div class="form-group col-md-12">
                                    <label>What did you like most about this course?</label>
                                    <input class="form-control" name="courseQuestion1" id="courseQuestions1" value="" readonly="true">
                                </div>
                                <div class="form-group col-md-12">
                                    <label>Any areas that could be improved or removed?</label>
                                    <input class="form-control" name="courseQuestions2" id="courseQuestions2" value="" readonly="true">
                                </div>


                                <div class="form-group col-md-11">
                                    <label>Trainer Rating 1</label>
                                    <input class="form-control" name="" id="" value="The trainer was clear and engaging." readonly="true">
                                </div>
                                <div class="form-group col-md-1">
                                    <label>Score</label>
                                    <input class="form-control" name="trainerRating1" id="trainerRating1" value="" placeholder="0" readonly="true">
                                </div>
                                <div class="form-group col-md-11">
                                    <label>Trainer Rating 2</label>
                                    <input class="form-control" name="" id="" value="The trainer handled questions appropriately." readonly="true">
                                </div>
                                <div class="form-group col-md-1">
                                    <label>Score</label>
                                    <input class="form-control" name="trainerRating2" id="trainerRating2" value="" placeholder="0" readonly="true">
                                </div>
                                <div class="form-group col-md-11">
                                    <label>Trainer Rating 3</label>
                                    <input class="form-control" name="" id="" value="The trainer made good use of visual aids." readonly="true">
                                </div>
                                <div class="form-group col-md-1">
                                    <label>Score</label>
                                    <input class="form-control" name="trainerRating3" id="trainerRating3" value="" placeholder="0" readonly="true">
                                </div>
                                <div class="form-group col-md-11">
                                    <label>Trainer Rating 4</label>
                                    <input class="form-control" name="" id="" value="The trainer was current and gave real life examples." readonly="true">
                                </div>
                                <div class="form-group col-md-1">
                                    <label>Score</label>
                                    <input class="form-control" name="trainerRating4" id="trainerRating4" value="" placeholder="0" readonly="true">
                                </div>
                                <div class="form-group col-md-11">
                                    <label>Trainer Rating 5</label>
                                    <input class="form-control" name="" id="" value="The trainer was comfortable with the technology used." readonly="true">
                                </div>
                                <div class="form-group col-md-1">
                                    <label>Score</label>
                                    <input class="form-control" name="trainerRating5" id="trainerRating5" value="" placeholder="0" readonly="true">
                                </div>
                                <div class="form-group col-md-12">
                                    <label>What did you like most about this trainer?</label>
                                    <input class="form-control" name="trainerQuestion1" id="trainerQuestion1" value="" readonly="true">
                                </div>
                                <div class="form-group col-md-12">
                                    <label>Any areas that the trainer could improve upon?</label>
                                    <input class="form-control" name="trainerQuestions2" id="trainerQuestion2" value="" readonly="true">
                                </div>
                                
                                <div class="form-group col-md-12">
                                    <label>Comment</label>
                                    <input class="form-control" name="comment" id="comment" value="" readonly="true">
                                </div>
                                
                                

                            </form>
                        </div>
                        <div class="modal-footer">
                            <!-- <a class="btn btn-info" id="ratingEdit">
                                <i class="glyphicon glyphicon-edit icon-white"></i>
                                Edit
                            </a> -->
                            <a class="btn btn-danger itemDelete" id="ratingDelete" data-dismiss="modal">
                                <i class="glyphicon glyphicon-trash icon-white"></i>
                                Delete
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/.fluid-container-->

        
        <script src="@routes.Assets.at("dashboard/js/Rating.js")"></script>

}
