@dashmain("user_attendee"){
    <!-- topbar starts -->
    <div class="navbar navbar-default" role="navigation">

        <div class="navbar-inner">
            <button type="button" class="navbar-toggle pull-left animated flip">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html"><span style="font-size:10px">ShareTheTraining.com</span></a>

            <!-- user dropdown starts -->
            <div class="btn-group pull-right">
                <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <i class="glyphicon glyphicon-user"></i><span class="hidden-sm hidden-xs"> admin</span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#">Profile</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="login.html">Logout</a>
                    </li>
                </ul>
            </div>
            <!-- user dropdown ends -->

            <!-- theme selector starts -->
            <!--
            <div class="btn-group pull-right theme-container animated tada">
                <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <i class="glyphicon glyphicon-tint"></i><span
                        class="hidden-sm hidden-xs"> Change Theme / Skin</span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" id="themes">
                    <li><a data-value="classic" href="#"><i class="whitespace"></i> Classic</a></li>
                    <li><a data-value="cerulean" href="#"><i class="whitespace"></i> Cerulean</a></li>
                    <li><a data-value="cyborg" href="#"><i class="whitespace"></i> Cyborg</a></li>
                    <li><a data-value="simplex" href="#"><i class="whitespace"></i> Simplex</a></li>
                    <li><a data-value="darkly" href="#"><i class="whitespace"></i> Darkly</a></li>
                    <li><a data-value="lumen" href="#"><i class="whitespace"></i> Lumen</a></li>
                    <li><a data-value="slate" href="#"><i class="whitespace"></i> Slate</a></li>
                    <li><a data-value="spacelab" href="#"><i class="whitespace"></i> Spacelab</a></li>
                    <li><a data-value="united" href="#"><i class="whitespace"></i> United</a></li>
                </ul>
            </div>
-->
            <!-- theme selector ends -->

            <!--
            <ul class="collapse navbar-collapse nav navbar-nav top-menu">
                <li><a href="#"><i class="glyphicon glyphicon-globe"></i> Visit Site</a></li>
                <li class="dropdown">
                    <a href="#" data-toggle="dropdown"><i class="glyphicon glyphicon-star"></i> Dropdown <span
                            class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                        <li class="divider"></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
                <li>
                    <form class="navbar-search pull-left">
                        <input placeholder="Search" class="search-query form-control col-md-10" name="query"
                               type="text">
                    </form>
                </li>
            </ul>
-->

        </div>
    </div>

    <!-- topbar ends -->
    <div class="ch-container">
        <div class="row">

            @dashSidebar()

            <noscript>
                <div class="alert alert-block col-md-12">
                    <h4 class="alert-heading">Warning!</h4>

                    <p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a>
                        enabled to use this site.</p>
                </div>
            </noscript>

            <div id="content" class="col-lg-10 col-sm-10">
                <!-- content starts -->
                <div>
                    <ul class="breadcrumb">
                        <li>
                            <a href="index.html">Home</a>
                        </li>
                        <li>
                            <a href="Dashboard.html">Dashboard</a>
                        </li>
                        <li>
                            <a href="User_attendee.html">Attendee Management</a>
                        </li>
                    </ul>
                </div>

                <div class="row">
                    <div class="box col-md-12">
                        <div class="box-inner">
                            <div class="box-header well" data-original-title="">
                                <h2><i class="glyphicon glyphicon-user"></i> Attendee Management</h2>

                                <div class="box-icon">
                                    <a href="#" class="btn btn-setting btn-round btn-default"><i class="glyphicon glyphicon-cog"></i></a>
                                    <a href="#" class="btn btn-minimize btn-round btn-default"><i class="glyphicon glyphicon-chevron-up"></i></a>
                                    <a href="#" class="btn btn-close btn-round btn-default"><i class="glyphicon glyphicon-remove"></i></a>
                                </div>
                            </div>
                            <div class="box-content">
                                <table class="table table-striped table-bordered table-hover bootstrap-datatable datatable responsive" id="userTable">
                                    <thead>
                                        <tr>
                                            <th>
                                                <input type="checkbox" class="chkAll">
                                            </th>
                                            <th>ID</th>
                                            <th>Name</th>
                                            <th>Email</th>
                                            <th>Phone</th>
                                            <th>State</th>
                                            <th>City</th>
                                            <th>Status</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody id="userTableBody">
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>
                                                <input type="checkbox" class="chkAll">
                                            </th>
                                            <th>ID</th>
                                            <th>Name</th>
                                            <th>Email</th>
                                            <th>Phone</th>
                                            <th>State</th>
                                            <th>City</th>
                                            <th>Status</th>
                                            <th></th>
                                        </tr>
                                    </tfoot>
                                </table>

                            </div>
                        </div>
                    </div>
                    <!--/span-->

                </div>
                <!--/row-->

                <hr>

                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"></button>
                                <h3>Settings</h3>
                            </div>
                            <div class="modal-body">
                                <p>Here settings can be configured...</p>
                            </div>
                            <div class="modal-footer">
                                <a href="#" class="btn btn-default" data-dismiss="modal">Close</a>
                                <a href="#" class="btn btn-primary" data-dismiss="modal">Save changes</a>
                            </div>
                        </div>
                    </div>
                </div>

                <footer class="row">
                    <p class="col-md-9 col-sm-9 col-xs-12 copyright">&copy; <a href="http://greenbay.usc.edu/csci577/fall2014/projects/team11/index.html" target="_blank">Team#11</a> Fall-2014</p>

                    <p class="col-md-3 col-sm-3 col-xs-12 powered-by">Powered by: <a href="http://sharethetraining.com">ShareTheTraining.com</a>
                    </p>
                </footer>

            </div>

            <div class="modal fade" id="confirmDialog" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"></button>
                            <h3>Confirm</h3>
                        </div>
                        <div class="modal-body">
                            <p>Do you want to delete the choosen Items?</p>
                        </div>
                        <div class="modal-footer">
                            <a class="btn btn-default confirmDelete" data-dismiss="modal">Delete</a>
                            <a class="btn btn-primary confirmCancel" data-dismiss="modal">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="errorDialog" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"></button>
                            <h3>Error</h3>
                        </div>
                        <div class="modal-body">
                            <p class="errorMsg"></p>
                        </div>
                        <div class="modal-footer">
                            <a class="btn btn-primary" data-dismiss="modal">Ok</a>
                        </div>
                    </div>
                </div>
            </div>

            <div id="userInfo" class="modal fade infoModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                            </button>
                            <h3 class="modal-title text-primary" id="myModalLabel">ShareTheTraining</h3>
                        </div>
                        <div class="modal-body">
                            <form role="form">
                                <div class="form-group col-md-4">
                                    <label>User ID</label>
                                    <input class="form-control" name="id" id="id" value="" placeholder="User ID" readonly="true">
                                </div>
                                <div class="form-group col-md-4">
                                    <label>userName</label>
                                    <input class="form-control" name="userName" id="userName" value="" placeholder="userName" readonly="true">
                                </div>
                                <!-- <div class="form-group col-md-4">
                                    <label>Password</label>
                                    <input class="form-control" name="password" id="password" value="" placeholder="Password" readonly="true">
                                </div> -->
                                <div class="form-group col-md-4">
                                    <label>Name</label>
                                    <input class="form-control" name="name" id="name" value="" placeholder="Name" readonly="true">
                                </div>
                                <div class="form-group col-md-4">
                                    <label>Email</label>
                                    <input class="form-control" name="email" id="email" value="" placeholder="Email" readonly="true">
                                </div>

                                <div class="form-group col-md-4">
                                    <label>Cell Phone</label>
                                    <input class="form-control" name="cellPhone" id="cellPhone" value="" placeholder="Cell Phone" readonly="true">
                                </div>
                                <div class="form-group col-md-4">
                                    <label>Phone</label>
                                    <input class="form-control" name="phone" id="phone" value="" placeholder="Phone" readonly="true">
                                </div>
                                <div class="form-group col-md-4">
                                    <label>State</label>
                                    <input class="form-control" name="state" id="state" value="" placeholder="State" readonly="true">
                                </div>
                                <div class="form-group col-md-4">
                                    <label>City</label>
                                    <input class="form-control" name="city" id="city" value="" placeholder="City" readonly="true">
                                </div>

                                <div class="form-group col-md-4">
                                    <label>Status</label>
                                    <select name="userStatus" id="userStatus" class="form-control">
                                        <option name="userStatus" value="1">active</option>
                                        <option name="userStatus" value="0">inactive</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-12">
                                    <label>Courses</label>
                                    <p id="courses">here is the courses which this attendee have taken</p>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <a class="btn btn-info" id="userEdit"><i class="glyphicon glyphicon-edit icon-white"></i>Edit</a>
                            <a class="btn btn-danger itemDelete" id="userDelete" data-dismiss="modal"><i class="glyphicon glyphicon-trash icon-white"></i>Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/.fluid-container-->




        <script src="@routes.Assets.at("dashboard/js/User_attendee.js")"></script>

}
