@import models.courses._
@(course: Course)(states: Collection[String])

@main("item page"){
<section class="wrapper-sm bg-highlight">
	<div class="container">
		<div class="row">
			@searchview.searchsidebar(states)

			<!-- Main -->
			<!-- Main -->
			<div class="col-sm-12 col-md-9">
				<article class="post">
					<h2>Assertive Communication to Reach Your Goals</h2>
					<hr>

					<div class="row">
						<div class="col-sm-12 col-md-5">
							<ul class="list-unstyled">

								<li><h4>
										<i class="fa fa-fw fa-dollar"></i> Price: <span
											class="text-primary">@course.getPrice()</span>
									</h4></li>
								<li><h4>
										<i class="fa fa-fw fa-location-arrow"></i> From: <a title=""
											data-container="body" data-toggle="popover"
											data-placement="right"
											data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
											data-original-title="Popover Title Here">XXX company</a>
									</h4></li>
								<li><h4>
										<i class="fa fa-fw fa-male"></i>Trainer: <a title=""
											data-container="body" data-toggle="popover"
											data-placement="right"
											data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
											data-original-title="Popover Title Here">Sinclair Rimmon</a>
									</h4></li>
								<!-- <li><h4>
										<i class="fa fa-fw fa-signal"></i>Location: <span
											class="text-primary">
											<ul class="tags">
												@for(c <- course.getCourses()){
												<li><a href="@routes.Application.searchloc(c.getLocation().getCity(),c.getLocation().getRegion())">
												@c.getLocation().getCity() @c.getLocation().getRegion()
												</a></li>
												}
											</ul>
										</span>
									</h4></li> -->
							</ul>
							<!-- <a onclick="window.open('http://www.eventbrite.com/event/13958679787')" type="button" class="btn btn-primary btn-lg btn-block">Book
								Online</a> -->
								<a href="@routes.Application.itempage(course.getId())#schedule" type="button" class="btn btn-primary btn-lg btn-block">Choose Schedule
								Online</a>

						</div>
						<div class="col-sm-12 col-md-5 col-md-push-2">
							<div class="panel panel-secondary">
								<div class="panel-heading">
									<h3 class="panel-title">Share with Friends</h3>
								</div>
								@socialshare(course)
							</div>
							<!-- /.panel -->
							<!-- <h4>
								<i class="fa fa-fw fa-list"></i> Note: <span
									class="text-primary">Include lunch</span>
							</h4> -->
						</div>
					</div>

					<hr>

					<div class="row" id="schedule">
						<div class="col-sm-12 col-md-12">
							<ul class="nav nav-tabs">
							<li  class="active in"><a href="#tab-7" data-toggle="tab">Schedules</a></li>
								<li><a href="#tab-5" data-toggle="tab">Overview &amp;
										Style</a></li>
								<li><a href="#tab-6" data-toggle="tab">Key Points</a></li>
								
							</ul>

							<div id="myTabContent" class="tab-content">
								@schedule(course)
								<div class="tab-pane fade" id="tab-5">
									@course.getCourseDesc()
								</div>
								<div class="tab-pane fade" id="tab-6">
									<h3 class="headline">Key Points:</h3>
									<ul class="list-unstyled">
										<li><i class="fa fa-fw fa-th"></i> <strong>KeyPoints:</strong></li>
											@for(k <- course.getKeyPoints()){
												<li>@k</li>
											}
										
									</ul>
								</div>
								

							</div>
						</div>
					</div>
					<!-- /.row -->
				</article>
				<!-- /.post -->

				<div class="widget padding-sm bg-dark">
					<h2 class="heading-md text-center text-light">Interest to this
						class?</h2>
					<br class="spacer-md">
					<form action="" class="form-inline">
						<div class="row">
							<div class="col-md-4 col-md-push-1">
								<button class="btn btn-success btn-block btn-md"
									data-toggle="modal" data-target=".bs-modal-share">
									Share with Friends</button>
							</div>
							<!-- /.col -->

							<div class="col-md-4 col-md-push-3">
								<button class="btn btn-primary btn-block btn-md">Book
									Online</button>
							</div>
						</div>
					</form>
				</div>
				<!-- /.widget -->

				<!-- Modal Share-->
				<div class="modal fade bs-modal-share" tabindex="-1" role="dialog"
					aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-dialog ">
						<div class="modal-content ">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal">
									<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
								</button>
								<h2 class="modal-title text-primary" id="myModalLabel">Share
									with Friends</h2>
							</div>
							<div class="modal-body">
								<div class="col-md-3 col-md-push-1">
									<a class="btn btn-default" href="#" data-toggle="modal"
										data-target=".bs-modal-email"><i
										class="fa fa-fw fa-envelope"></i></a>
								</div>
								<div class="col-md-2">
									<a class="btn btn-facebook" href="#"
										onclick="window.open('https://www.facebook.com/dialog/feed?app_id=514941575275843&display=popup&caption=An%20example%20caption&link=https%3A%2F%2Fsina.com%2F@course.getId()&picture=http://d2wz2qkj9kqukm.cloudfront.net/images/course/1006/title/fusion_dance_studios_53ae81cadc96c.jpg&redirect_uri=https://www.facebook.com')">
										<i class="fa fa-fw fa-facebook"></i>
									</a>
								</div>
								<div class="col-md-2">
									<a class="btn btn-pinterest"
										onclick="window.open('http://www.linkedin.com/shareArticle?mini=true&url=http://localhost:9000/itempage/@course.getId()&title=@course.getCourseName&summary=aaa&source=stackoverflow.com','template_window','550','400','yes','center')"><i
										class="fa fa-fw fa-linkedin"></i></a>
								</div>
							</div>
							<br />
							<div class="modal-footer">
								<button type="button" class="btn btn-primary">Need
									help?</button>
								<button type="button" class="btn btn-default"
									data-dismiss="modal">Close</button>
							</div>
						</div>
					</div>
				</div>
				<!-- Modal email-->
				<div class="modal fade bs-modal-email" tabindex="-1" role="dialog"
					aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-dialog ">
						<div class="modal-content ">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal">
									<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
								</button>
								<h3 class="modal-title text-primary" id="myModalLabel">Share
									via Email</h3>
							</div>
							<div class="modal-body">
								<form role="form">
									<div class="form-group">
										<label for="example-contact-name">Your name</label> <input
											type="password" class="form-control"
											id="example-contact-password" placeholder="Your name">
									</div>
									<div class="form-group">
										<label for="exmaple-contact-email">Email address</label> <input
											type="email" class="form-control" id="exmaple-contact-email"
											placeholder="Enter your friends' email">
										<p>(Separate multiple email addresses with commas.)</p>
									</div>

									<div>
										<label for="example-contact-text">Text</label>
										<textarea class="col-md-12 col-sm-12">Hey, I picked out a class on ShareTheTraining, I plan on taking sometime soon. Care to join in? &#13;&#10;Link:xxxx
												</textarea>
									</div>
									<br>
									<div class="form-group">
										<p>
											<button type="submit"
												class="btn btn-success btn-lg btn-block">Send</button>
										</p>
									</div>
								</form>
							</div>
							<br />
							<div class="modal-footer">
								<button type="button" class="btn btn-primary">Need
									help?</button>
								<button type="button" class="btn btn-default"
									data-dismiss="modal">Close</button>
							</div>
						</div>
					</div>
				</div>
				<hr>

				<!-- <!-- Suggestions
				<h2>More suggestions:</h2>
				<p class="lead">View similar items tailored for you</p>

				<div class="row">
					<div class="col-sm-12 col-md-4">
						<div class="thumbnail">
							<div class="overlay-container">
								<img src="assets/img/item-small.jpg">
								<div class="overlay-content">
									<h3 class="h4 headline">Overview &amp; Style</h3>
									<p>So you know you're getting a top quality property from
										an experienced team.</p>
								</div>
								/.overlay-content
							</div>
							/.overlay-container
							<div class="thumbnail-meta">
								<p>
									<i class="fa fa-fw fa-flag"></i> Presentation skills
								</p>
							</div>
							<div class="thumbnail-meta">
								<p>
									<i class="fa fa-fw fa-map-marker"></i> San Diego, CA 92101
								</p>
								<p>
									<i class="fa fa-fw fa-male"></i> Shamsian
								</p>
							</div>
							<div class="thumbnail-meta">
								<i class="fa fa-fw fa-info-circle"></i> Upcoming: Oct. 25 to
								Oct. 29
							</div>
							<div class="thumbnail-meta">
								<i class="fa fa-fw fa-dollar"></i> <span class="h3">350.000</span>
								<a href="#link" class="btn btn-link pull-right">View <i
									class="fa fa-arrow-right"></i></a>
							</div>
						</div>
						/.thumbnail
					</div>
					/.col

					<div class="col-sm-12 col-md-4">
						<div class="thumbnail">
							<div class="overlay-container">
								<img src="assets/img/item-small.jpg">
								<div class="overlay-content">
									<h3 class="h4 headline">Overview &amp; Style</h3>
									<p>So you know you're getting a top quality property from
										an experienced team.</p>
								</div>
								/.overlay-content
							</div>
							/.overlay-container
							<div class="thumbnail-meta">
								<p>
									<i class="fa fa-fw fa-flag"></i> Presentation skills
								</p>
							</div>
							<div class="thumbnail-meta">
								<p>
									<i class="fa fa-fw fa-map-marker"></i> San Diego, CA 92101
								</p>
								<p>
									<i class="fa fa-fw fa-male"></i> Shamsian
								</p>
							</div>
							<div class="thumbnail-meta">
								<i class="fa fa-fw fa-info-circle"></i> Upcoming: Oct. 25 to
								Oct. 29
							</div>
							<div class="thumbnail-meta">
								<i class="fa fa-fw fa-dollar"></i> <span class="h3">350.000</span>
								<a href="#link" class="btn btn-link pull-right">View <i
									class="fa fa-arrow-right"></i></a>
							</div>
						</div>
						/.thumbnail
					</div>
					/.col

					<div class="col-sm-12 col-md-4">
						<div class="thumbnail">
							<div class="overlay-container">
								<img src="assets/img/item-small.jpg">
								<div class="overlay-content">
									<h3 class="h4 headline">Overview &amp; Style</h3>
									<p>So you know you're getting a top quality property from
										an experienced team.</p>
								</div>
								/.overlay-content
							</div>
							/.overlay-container
							<div class="thumbnail-meta">
								<p>
									<i class="fa fa-fw fa-flag"></i> Presentation skills
								</p>
							</div>
							<div class="thumbnail-meta">
								<p>
									<i class="fa fa-fw fa-map-marker"></i> San Diego, CA 92101
								</p>
								<p>
									<i class="fa fa-fw fa-male"></i> Shamsian
								</p>
							</div>
							<div class="thumbnail-meta">
								<i class="fa fa-fw fa-info-circle"></i> Upcoming: Oct. 25 to
								Oct. 29
							</div>
							<div class="thumbnail-meta">
								<i class="fa fa-fw fa-dollar"></i> <span class="h3">350.000</span>
								<a href="#link" class="btn btn-link pull-right">View <i
									class="fa fa-arrow-right"></i></a>
							</div>
						</div>
						/.thumbnail
					</div>
					/.col

				</div>
				/.row
				End of suggestions --> 

			</div>
			<!-- /.col -->
			<!-- End of main -->
		</div>
		<!-- /.row -->
	</div>
	<!-- /.container -->
</section>

}
