@main("signupemail"){	
	<section class="wrapper-md bg-custom-home">
		<div class="container">
			<div class="row ">
				<div class="col-sm-12 col-md-6 col-md-offset-3 widget padding-lg bg-dark text-center">
					<h1 class="text-primary text-center"><i class="fa fa-check-circle-o"></i> Thank you!</h1>
					<br>
					<p class="lead">Please check your email to activate account.</p>
					
					<hr >
					<p>If you did not receive the e-mail or continue to have trouble logging in, please call us at 213-xxx-xxxx <i class="fa fa-smile-o"></i></p>
					
				</div><!-- /.col -->
			</div><!-- /.row -->
		</div><!-- /.container -->
	</section>
}
