
@import models.courses._
@(course: Collection[Course],states: Collection[String],pageNumber: Integer = 1, query: String = "", newKeyword: String, newKeywordUrl: String)
@import helper._
@implicitField = @{ FieldConstructor(myFieldConstructorTemplate.f) }

@tail = {
<script>
@if(newKeyword!=null){
		var para = document.createElement("label");
		var node = document.createTextNode("*Recommend search: <a href='@(routes.Application.search("default",pageNumber)+"?"+newKeywordUrl)'>@newKeyword</a>");
		para.appendChild(node);
		var element = document.getElementById("key_words");
		element.appendChild(para);
}
</script>
}

<!-- main courselist -->
@main("search result",tail){
<section class="wrapper-sm bg-highlight">
		<div class="container">
			<div class="row">
	@searchsidebar(states)
<div class="col-sm-8 col-md-9">
	<div class="row">
		<article class="post">
		@course_list(course)
		</article>
	</div>
</div>
<!-- Pagination -->
					<div class="row">
						<div class="col-sm-12 col-md-9 col-md-push-3">
							<ul class="pagination pagination-lg">
								<li><a href="#">«</a></li>
								<li class="active"><a href="#">1</a></li>
								<li><a href="#">2</a></li>
								<li><a href="#">3</a></li>
								<li><a href="#">4</a></li>
								<li><a href="#">...</a></li>
								<li><a href="#">10</a></li>
								<li><a href="@(routes.Application.search("default",pageNumber)+"?"+query)">»</a></li>
							</ul><!-- /.pagination -->
						</div><!-- /.col -->
					</div><!-- /.row --> <!-- End of pagination -->
				</div><!-- /.col --> <!-- End of main -->
				
		</div>
		</div>
	</section>
	
	

}
