
@import models.courses._
@(course: Collection[Course],states: Collection[String])
@import helper._
@implicitField = @{ FieldConstructor(myFieldConstructorTemplate.f) }



<!-- main courselist -->
@main("search result"){
<section class="wrapper-sm bg-highlight">
		<div class="container">
			<div class="row">
	@searchsidebar(states)
<div class="col-sm-8 col-md-9">
	<div class="row">
		<article class="post">
		@for(c <- course) {
			<div class="panel panel-secondary">
				<div class="panel-heading">
					<h3 class="panel-title">Search Result</h3>
				</div>
				<div class="panel-body">
					<div class="col-sm-5 col-md-4">
						<a href="@routes.Application.itempage(c.getId())"><img class="img-responsive img-thumbnail" width="350" height="100" src="https://farm8.staticflickr.com/7473/15635897598_ea456c1f69_s.jpg"></a>
						<!-- <i class="fa fa-fw fa-signal"></i>Host Locations:
						<ul class="tags btn-sm">
							<li><a href="#link">@c.getCourseDesc()</a></li>
							<li><a href="#link">@c.getCourseName()</a></li>
						</ul> -->
					</div><!-- /.col -->
					<div class="col-sm-7 col-md-6">
						<h4><a href="@routes.Application.itempage(c.getId())">@c.getCourseName()</a></h4>
						<ul class="list-unstyled">
							<li><i class="fa fa-fw fa-th"></i> From: 
								<button type="button" class="btn btn-primary btn-xs"  title="" data-container="body" data-toggle="popover" data-placement="top" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." data-original-title="Popover Title Here">
								@c.getFromCompany()</button>
								<i class="fa fa-fw fa-columns"></i>Trainer: 
								<button type="button" class="btn btn-primary btn-xs"  title="" data-container="body" data-toggle="popover" data-placement="top" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." data-original-title="Popover Title Here">
								@c.getTrainer().getName()</button>
							</li>
							<li><i class="fa fa-fw fa-female"></i>Course Rating: 
							<input id="courseRating" value="@c.getRating()" type="number" class="rating " min=0 max=5 step=0.5 data-size="xs" data-stars="5" data-show-clear="false" disabled></li>
							<li><i class="fa fa-fw fa-truck"></i>Trainer Rating: 
							<input id="trainerRating" value="@c.getTrainer.getRating()" type="number" class="rating " min=0 max=5 step=0.5 data-size="xs" data-stars="5" data-show-clear="false" disabled></li>
							<li><i class="fa fa-fw fa-signal"></i>Key points:<br>@for(k <- c.getKeyPoints()){@k<br>}
							</li>
						</ul>
					</div><!-- /.col -->
					<div class="col-sm-2 col-md-2 ">
						<p><span class="btn btn-danger">$@c.getPrice()</span></p>
						<div class="col-md-12"><h4></h4></div>
						
					</div>
					<div class="col-sm-5 col-md-4">
					</div>
					<div class="col-sm-7 col-md-6">
										<ul class="list-unstyled">
											<li><i class="fa fa-fw fa-truck"></i>Methods: lecture. discussion. large group exercises. individual exercises.</li>
											<li><i class="fa fa-fw fa-truck"></i>Upcoming dates: 
												<ul class="list-unstyled">
												@for(cc <- c.getCourses()){
													<li>@cc..getCourseDate().format("EEE, MMM d, yyyy") &amp; @cc.getLocation().getCity(), @cc.getLocation().getRegion()</li>
													}
													<a href="@routes.Application.itempage(c.getId())">More Dates <i class="fa fa-arrow-right"></i></a>

												</ul>

											</li>
											<li></li>
										</ul>
										<p><a href="@routes.Application.itempage(c.getId())" class="btn btn-primary">View More Details»</a></p>
									</div>
					<div class="col-sm-2 col-md-2 ">
						<a type="button" href="@routes.Application.itempage(c.getId())" class="btn btn-primary btn-lg">Book NOW</a>
					</div>
				</div><!-- /.panel-body -->
			</div><!-- /.panel -->
			}
		</article>
	</div>
</div>
<!-- Pagination -->
					<div class="row">
						<div class="col-sm-12 col-md-9 col-md-push-3">
							<ul class="pagination pagination-lg">
								<li><a href="#">«</a></li>
								<li class="active"><a href="#">1</a></li>
								<li><a href="#">2</a></li>
								<li><a href="#">3</a></li>
								<li><a href="#">4</a></li>
								<li><a href="#">...</a></li>
								<li><a href="#">10</a></li>
								<li><a href="#">»</a></li>
							</ul><!-- /.pagination -->
						</div><!-- /.col -->
					</div><!-- /.row --> <!-- End of pagination -->
				</div><!-- /.col --> <!-- End of main -->
				
		</div>
		</div>
	</section>
	
	

}
