
<!-- Sidebar -->
				<div class="col-sm-4 col-md-3">
					<div class="panel panel-secondary">
						<div class="panel-heading">
							<h3 class="panel-title">What would you like to be amazing at:</h3>
						</div>
						<div class="panel-body">
							<form action="@routes.Application.search()"  method="post"  role="form">
								<div class="row">
									<div class="col-md-12">
										<label for="">Course Catagories:</label>
										<select default class="form-control selectpicker show-tick" title='Choose One' data-style="btn-primary" name="cfb.category" id="cfb.dataChoice">
											<optgroup label="Show All">
												<option value="-1" selected="selected">Show All</option>
											</optgroup>
											<optgroup label="Computer Science:">
												<option value="1">algorithm</option>
												<option value="2">database system</option>
											</optgroup>
										</select>
									</div><!-- /.col -->
									
									<div class="col-md-12">
									<label for="">Location:</label>
									<select  class="form-control selectpicker show-tick" data-live-search="true" data-style="btn-primary">
										<optgroup label="City:">
											<option value="1">Los Angeles</option>
											<option value="2">San Diego</option>
										</optgroup>
										
									</select>
								</div><!-- /.col -->
								<div class="col-md-12">
									<label for="">Date:</label>
									<select class="form-control selectpicker show-tick" title='Choose One' data-style="btn-primary" name="cfb.dataChoice" id="cfb.dataChoice">
										<optgroup label="Date:">
											<option value="1">Next month</option>
											<option value="2">Next 2 to 4 months</option>
											<option value="3">4 months later</option>
										</optgroup>
									</select> 
								</div><!-- /.col -->
									<!-- <div class="col-md-12">
											<label for="exmaple-contact-email">Key words</label>
											<input type="text" class="form-control" name="cfb.keyword" id="cfb.keyword" placeholder="">
									</div> -->
									<div class="col-md-12">
										<label for="">Ready?</label>
										<button type="submit" class="btn btn-primary btn-block">Search</button>
										
									</div>
								</div>
							</form>
						</div>
					</div><!-- /.panel -->
					<div class="panel panel-secondary">
						<div class="panel-heading">
							<h3 class="panel-title">Neighbor Locations</h3>
						</div>
						<div class="panel-body">
							<ul class="tags">
								<li><a href="#link">Downtown LA</a></li>
								<li><a href="#link">Santa Monica LA</a></li>
								<li><a href="#link">San Gaberiel Valley LA</a></li>
							</ul>
						</div>
					</div><!-- /.panel -->
					<div class="widget">
						<ul class="nav nav-tabs">
							<li class="active"><a href="#tab-1" data-toggle="tab">Popular</a></li>
							<li><a href="#tab-2" data-toggle="tab">Recent</a></li>
						</ul>
						<div class="tab-content">
							<div class="tab-pane fade active in" id="tab-1">
								<ul class="list-unstyled">
									<li><h3 class="h5"><i class="fa fa-file-text-o"></i> <a href="#link">Efficiently Modifying Posts</a></h3></li>
									<li><h3 class="h5"><i class="fa fa-file-text-o"></i> <a href="#link">Taxonomy Regulation</a></h3></li>
									<li><h3 class="h5"><i class="fa fa-file-text-o"></i> <a href="#link">7 Things You Love</a></h3></li>
									<li><h3 class="h5"><i class="fa fa-file-text-o"></i> <a href="#link">Why I Love Jazz Music</a></h3></li>
									<li><h3 class="h5"><i class="fa fa-file-text-o"></i> <a href="#link">Learn The Basics Of Muse</a></h3></li>
									<li><h3 class="h5"><i class="fa fa-file-text-o"></i> <a href="#link">Start A New Business</a></h3></li>
								</ul>
							</div>
							<!-- /.tab-pane -->
							<div class="tab-pane fade" id="tab-2">
								<ul class="list-unstyled">
									<li>
										<h3 class="h5"><i class="fa fa-comment-o"></i> <a href="#link">Efficiently Modifying Posts</a></h3>
										<p>Color manipulation in Photoshop can be used to correct mistakes...</p>
									</li>
									<li>
										<h3 class="h5"><i class="fa fa-comment-o"></i> <a href="#link">Taxonomy Regulation</a></h3>
										<p>You can’t design without type. However, you can use only type (or mostly only type)...</p>
									</li>
									<li>
										<h3 class="h5"><i class="fa fa-comment-o"></i> <a href="#link">7 Things You Love</a></h3>
										<p>Continuing from Part 1, let’s extend into tools for linting, measuring performance, checking for...</p>
									</li>
								</ul>
							</div><!-- /.tab-pane -->
						</div><!-- /.tab-content -->
					</div><!-- /.widget -->
					<div class="widget">
						<h3 class="h5">Advertising</h3>
						<ul class="img-stream">
							<li><a href="#link"><img class="media-object" data-src="holder.js/125x125/#2A2F37:#ffffff" alt="img"></a></li>
							<li><a href="#link"><img class="media-object" data-src="holder.js/125x125/#2A2F37:#ffffff" alt="img"></a></li>
							<li><a href="#link"><img class="media-object" data-src="holder.js/125x125/#2A2F37:#ffffff" alt="img"></a></li>
							<li><a href="#link"><img class="media-object" data-src="holder.js/125x125/#2A2F37:#ffffff" alt="img"></a></li>
							<li><a href="#link"><img class="media-object" data-src="holder.js/125x125/#2A2F37:#ffffff" alt="img"></a></li>
							<li><a href="#link"><img class="media-object" data-src="holder.js/125x125/#2A2F37:#ffffff" alt="img"></a></li>
						</ul>
					</div><!-- /.widget -->
				</div><!-- /.col --> <!-- End of sidebar -->
