
@import models.courses._
@(course: Collection[Course])
@import helper._
@implicitField = @{ FieldConstructor(myFieldConstructorTemplate.f) }



<!-- main courselist -->
@main("search result"){
<section class="wrapper-sm bg-highlight">
		<div class="container">
			<div class="row">
	@searchsidebar()
<div class="col-sm-8 col-md-9">
	<div class="row">
		<article class="post">
		@for(c <- course) {
			<div class="panel panel-secondary">
				<div class="panel-heading">
					<h3 class="panel-title">Search Result</h3>
				</div>
				<div class="panel-body">
					<div class="col-sm-5 col-md-4">
						<a href="item_page.html"><img class="img-responsive img-thumbnail" src="assets/img/item-large.jpg"></a>
						<i class="fa fa-fw fa-signal"></i>Host Locations:
						<ul class="tags btn-sm">
							<li><a href="#link">@c.getCourseDesc()</a></li>
							<li><a href="#link">@c.getCourseName()</a></li>
						</ul>
					</div><!-- /.col -->
					<div class="col-sm-7 col-md-6">
						<h4><a href="@routes.Application.itempage(c.getId())">Assertive Communication to Reach Your Goals</a></h4>
						<ul class="list-unstyled">
							<li><i class="fa fa-fw fa-th"></i> From: 
								<button type="button" class="btn btn-primary btn-xs"  title="" data-container="body" data-toggle="popover" data-placement="top" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." data-original-title="Popover Title Here">
								@c.getFromCompany()</button>
								<i class="fa fa-fw fa-columns"></i>Trainer: 
								<button type="button" class="btn btn-primary btn-xs"  title="" data-container="body" data-toggle="popover" data-placement="top" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." data-original-title="Popover Title Here">
								@c.getTrainer().getName()</button>
							</li>
							<li><i class="fa fa-fw fa-female"></i>Course Rating: <span id="courseRating" ><i class="fa fa-fw fa-star"></i><i class="fa fa-fw fa-star"></i><i class="fa fa-fw fa-star"></i><i class="fa fa-fw fa-star"></i><i class="fa fa-fw fa-star-o"></i><i class="fa fa-fw fa-star-o"></i><i class="fa fa-fw fa-star-o"></i>
							@c.getCourseName()</span></li>
							<li><i class="fa fa-fw fa-truck"></i>Trainer Rating: <span id="trainerRating" class="text-danger">
							@c.getCourseName()<span></li>
							<li><i class="fa fa-fw fa-signal"></i>Key points:
							@c.getCourseName()
							</li>
						</ul>
					</div><!-- /.col -->
					<div class="col-sm-2 col-md-2 ">
						<p><span class="btn btn-danger">@c.getCourseName()</span></p>
						<p><span class="btn btn-info btn-sm">@c.getCourseName()</span></p>
						<div class="col-md-12"><h4></h4></div>
						
					</div>
					<div class="col-sm-5 col-md-4">
					</div>
					
					<div class="col-sm-2 col-md-2 ">
						<button class="btn btn-primary btn-lg">Book NOW</button>
					</div>
				</div><!-- /.panel-body -->
			</div><!-- /.panel -->
			}
		</article>
	</div>
</div>
<!-- Pagination -->
					<div class="row">
						<div class="col-sm-12 col-md-9 col-md-push-3">
							<ul class="pagination pagination-lg">
								<li><a href="#">«</a></li>
								<li class="active"><a href="#">1</a></li>
								<li><a href="#">2</a></li>
								<li><a href="#">3</a></li>
								<li><a href="#">4</a></li>
								<li><a href="#">...</a></li>
								<li><a href="#">10</a></li>
								<li><a href="#">»</a></li>
							</ul><!-- /.pagination -->
						</div><!-- /.col -->
					</div><!-- /.row --> <!-- End of pagination -->
				</div><!-- /.col --> <!-- End of main -->
				
		</div>
		</div>
	</section>

}
