@import models.courses._
@(order: Collection[CourseOrder])
@import helper._

 @main("course-history"){
<section class="wrapper-sm bg-highlight">
	<div class="container">
		<div class="row">
			@cussidebar()
			<!-- Main -->
			<div class="col-sm-12 col-md-9" id="all courses">
				<h2>My Course History</h2>
				<hr>
				<div class="col-sm-12 col-md-11">
					<h3 class="headline">All Courses:</h3>
					@for(o <- order){
					@if(o.getOrderStatus()=="DONE"){
					<div class="panel panel-primary">
					}@if(o.getOrderStatus()=="CANCELED"){
					<div class="panel panel-secondary">
					}else{
					<div class="panel panel-success">}
						<div class="col-sm-12 col-md-7 panel-heading">
							<h3 class="panel-title">@o.getOrderDate()</h3>
						</div>
						<div class="col-sm-12 col-md-5 panel-heading ">
							<h3 class="panel-title">Order Number: @o.getOrderId()</h3>
						</div>

						<div class="panel-body">
							<div class="col-sm-12 col-md-12">
								<h4></h4>
							</div>
							<div class="col-sm-8 col-md-9">
								<h4>
									<a href="#">@o.getConcreteCourse().getCourseInfo().getCourseName()</a>
								</h4>
								<div class="col-sm-5 col-md-4">
									<a href="item_page.html"><img
										class="img-responsive img-thumbnail"
										src="assets/img/item-large.jpg"></a>
								</div>
								<!-- /.col -->
								<div class="col-sm-7 col-md-8">
									<ul class="list-unstyled">
										<i class="fa fa-fw fa-female"></i>Trainer:
										<button type="button" class="btn btn-primary btn-xs" title=""
											data-container="body" data-toggle="popover"
											data-placement="top"
											data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
											data-original-title="Popover Title Here">
											@o.getConcreteCourse().getCourseInfo().getTrainer().getName()</button>
										</li>
										<li><i class="fa fa-fw fa-columns"></i>Start Time: 
										@o.getConcreteCourse().getDateDisplay()</li>
										<li><i class="fa fa-fw fa-truck"></i>Location: 
										@o.getConcreteCourse().getLocation().getDetailedLoc(),
										@o.getConcreteCourse().getLocation().getCity(), 
										@o.getConcreteCourse().getLocation().getRegion()
										</li>
										<li><i class="fa fa-fw fa-money"></i>Price: 
										@o.getConcreteCourse().getCourseInfo().getPrice()</li>
									</ul>


								</div>
							</div>
							<div class="col-sm-2 col-md-3 ">
								<p>
									Status: <span class="btn btn-success">@o.getOrderStatus()</span>
								</p>
								<p>
									<a href="item_page.html" class="btn btn-primary">View
										Detail »</a>
								</p>
							</div>
							@if(o.getOrderStatus()==OrderStatus.DONE){
							<p><a href="@routes.Application.review(o.getOrderId())" class="btn btn-info">Write a Comment</a></p>
							}
						</div>
						<!-- /.panel-body -->
						
					</div>
					}
					<!-- /.panel -->
					<!-- Pagination -->
					<div class="row">
						<div class="col-sm-12 col-md-9 col-md-push-3">
							<ul class="pagination pagination-lg">
								<li><a href="#">«</a></li>
								<li class="active"><a href="#">1</a></li>
								<li><a href="#">2</a></li>
								<li><a href="#">3</a></li>
								<li><a href="#">4</a></li>
								<li><a href="#">...</a></li>
								<li><a href="#">10</a></li>
								<li><a href="#">»</a></li>
							</ul>
							<!-- /.pagination -->
						</div>
						<!-- /.col -->
					</div>
					<!-- /.row -->
					<!-- End of pagination -->
				</div>
			</div>
			<!-- /.col -->
			<!-- End of main -->

		</div>
		<!-- /.row -->
	</div>
	<!-- /.container -->
</section>
}
