@import models.users._
@(cus: Customer)(states: List[String])



@main("course-info-edit"){
<script>
	function showCity(value){
	    $.post("@routes.Application.showCity()",{name:value} ,function(data,textStatuts){
             //alert(data);
             var dataObj=eval("("+data+")");
             //alert(dataObj);
             
             //删除城市
             $("select[name='location.city'] option[value!='']").remove();
             
             // <select name="city" style="width:90%">
                 //<option value="">--------</option>
             //</select>
             for(var i=0;i<dataObj.length;i++){
                   var $option=$("<option></option>");
                   $option.attr("value",dataObj[i]);
                   $option.text(dataObj[i]);
                   $("select[name='location.city']").append($option);
             }
        });
	}
	</script>

<section class="wrapper-sm bg-highlight">
		<div class="container">
			<div class="row">
			@cussidebar()
			<!-- Main -->
				<div class="col-sm-12 col-md-9" id="basic edit">
					<div class="col-sm-12 col-md-12">
						<div class="col-sm-12 col-md-8">
							<h2>Basic Information</h2>
						</div>
						<button class="btn btn-primary btn-md">Confirm</button>
						<a href="userBasicInfo.html "class="btn btn-default btn-md">Cancel</a>
					</div>
					<hr>

					<div class="col-sm-12 col-md-12">
						<div class="row" >
							<div class="col-sm-12 col-md-4">
								<div class="panel panel-secondary">
									<div class="panel-heading">
										<h3 class="panel-title">Photo</h3>
									</div>
									<div class="panel-body">
										<img class="img-responsive img-rounded" src="assets/img/user-1.jpg">
										<input type="file" id="exampleInputFile">
										
									</div>
								</div><!-- /.panel -->
							</div>
							<div class="col-sm-12 col-md-6">
								<form role="form" action="#" id="edit" method="post">
									<ul class="list-group">
										<li class="list-group-item form-group">
											<div class="col-md-4">
												<h4>Name:</h4>
											</div>
											 <h4><span class="text-primary"><input type="text" name="name" id="name" placeholder="@cus.getName()"></span></h4>
										</li>
										<li class="list-group-item form-group">
											<div class="col-md-4">
												<h4>Email:</h4>
											</div>
											 <h4><span class="text-primary"><input type="email" name="email" id="email" placeholder="@cus.getEmail()"></span></h4>
										</li>
										<li class="list-group-item form-group">
											<div class="col-md-4">
												<h4>Phone:</h4>
											</div>
											 <h4><span class="text-primary"><input type="tel" name="phone" id="phone" placeholder="@cus.getPhone()"></span></h4>
										</li>
										<li class="list-group-item form-group">
											<div class="col-md-4">
												<h4>Address:</h4>
											</div>
											 <h4><span class="text-primary"><input name="address" id="address" placeholder=""></span></h4>
										</li>
										<li class="list-group-item form-group">
											<select onchange="showCity(this.value)" class="form-control selectpicker show-tick" title='Choose One' data-style="btn-primary" name="location.region" id="location.region">
												<optgroup label="State:">
												@for(s <- states){
													<option value="@s">@s</option>
													}
												</optgroup>
											</select> 
										</li>
										<li class="list-group-item form-group">
											<select class="form-control show-tick" title='Choose One' data-style="btn-primary" name="location.city" id="location.city">
												
											</select> 
										</li>
										<li class="list-group-item form-group">
											<div class="col-md-4">
												<h4>Zipcode:</h4>
											</div>
											 <h4><span class="text-primary"><input name="zipcode" id="zipcode" placeholder=""></span></h4>
										</li>
										<li class="list-group-item form-group">
											<div class="col-md-4">
												<h4>Username:</h4>
											</div>
											 <h4><span class="text-primary"><input name="username" id="username" placeholder="@cus.getUsername"></span></h4>
										</li>
									</ul>
								</form>
							</div>
						</div>
					</div>
				</div><!-- /.col --><!-- End of main -->
			</div><!-- /.row -->
		</div><!-- /.container -->
	</section>
}