@import models.users._
@(cus: Customer)


@main("course-info-edit"){
<section class="wrapper-sm bg-highlight">
		<div class="container">
			<div class="row">
			@cussidebar()
			<!-- Main -->
				<div class="col-sm-12 col-md-9" id="basic edit">
					<div class="col-sm-12 col-md-12">
						<div class="col-sm-12 col-md-8">
							<h2>Basic Information</h2>
						</div>
						<button class="btn btn-primary btn-md">Confirm</button>
						<a href="userBasicInfo.html "class="btn btn-default btn-md">Cancel</a>
					</div>
					<hr>

					<div class="col-sm-12 col-md-12">
						<div class="row" >
							<div class="col-sm-12 col-md-4">
								<div class="panel panel-secondary">
									<div class="panel-heading">
										<h3 class="panel-title">Photo</h3>
									</div>
									<div class="panel-body">
										<img class="img-responsive img-rounded" src="assets/img/user-1.jpg">
										<input type="file" id="exampleInputFile">
										
									</div>
								</div><!-- /.panel -->
							</div>
							<div class="col-sm-12 col-md-6">
								<form role="form" action="#" id="edit" method="post">
									<ul class="list-group">
										<li class="list-group-item form-group">
											<div class="col-md-4">
												<h4>Name:</h4>
											</div>
											 <h4><span class="text-primary"><input type="text" name="name" id="name" placeholder="@cus.getName()"></span></h4>
										</li>
										<li class="list-group-item form-group">
											<div class="col-md-4">
												<h4>Email:</h4>
											</div>
											 <h4><span class="text-primary"><input type="email" name="email" id="email" placeholder="@cus.getEmail()"></span></h4>
										</li>
										<li class="list-group-item form-group">
											<div class="col-md-4">
												<h4>Phone:</h4>
											</div>
											 <h4><span class="text-primary"><input type="tel" name="phone" id="phone" placeholder="(213)834-5678"></span></h4>
										</li>
										<li class="list-group-item form-group">
											<div class="col-md-4">
												<h4>Address:</h4>
											</div>
											 <h4><span class="text-primary"><input name="address" id="address" placeholder="325 W. adams Blvd"></span></h4>
										</li>
										<li class="list-group-item form-group">
											<div class="col-md-4">
												<h4>City:</h4>
											</div>
											 <h4><span class="text-primary"><input  type="text" name="city" id="city" placeholder="Los Angeles"></span></h4>
										</li>
										<li class="list-group-item form-group">
											<div class="col-md-4">
												<h4>State:</h4>
											</div>
											 <h4><span class="text-primary"><input name="state" id="state" placeholder="California"></span></h4>
										</li>
										<li class="list-group-item form-group">
											<div class="col-md-4">
												<h4>Zipcode:</h4>
											</div>
											 <h4><span class="text-primary"><input name="zipcode" id="zipcode" placeholder="90007"></span></h4>
										</li>
										<li class="list-group-item form-group">
											<div class="col-md-4">
												<h4>Username:</h4>
											</div>
											 <h4><span class="text-primary"><input name="username" id="username" placeholder="Blade007"></span></h4>
										</li>
									</ul>
								</form>
							</div>
						</div>
					</div>
				</div><!-- /.col --><!-- End of main -->
			</div><!-- /.row -->
		</div><!-- /.container -->
	</section>
}