@main("forget-password"){
	<section class="wrapper-md bg-custom-home">
		<div class="container">
			<div class="row ">
				<div class="col-sm-12 col-md-6 col-md-offset-3 widget padding-lg bg-dark text-center">
					<h1>Reset password</h1>
					<p class="lead">Please enter your email and we’ll send you instructions to reset your password.</p>
					<form role="form" id="forgotPass" action="#" method="post">
						<div class="input-group form-group">
							<input type="email" name="email" class="form-control input-lg required email" id="email" placeholder="Your email">
							<div class="input-group-btn">
								<button type="submit" class="btn btn-primary btn-lg" tabindex="-1">Send</button>
							</div>
						</div><!-- /.input-group -->
					</form>
				</div><!-- /.col -->
			</div><!-- /.row -->
		</div><!-- /.container -->
	</section>
}