@main("resetpsw"){
	<section class="wrapper-md bg-custom-home">
		<div class="container">
			<div class="row ">
				<div class="col-sm-12 col-md-6 col-md-offset-3 widget padding-lg bg-dark">
					<h2 class="text-center">Please input a new password</h2>
					<br/>
					<form role="form" action="#" id="signup" method="post">
						<div class="form-group">
							<label for="pass">New Password</label>
							<input type="password" name="pass" class="form-control required  " id="pass" placeholder="New password">
						</div>
						<div class="form-group">
							<label for="repass">Re-enter Password </label>
							<input type="password" name="repass" class="form-control required " id="repass" placeholder="Re-enter your password">
						</div>
						<br/>
						<div class="form-group">
							<div class="col-sm-12 col-md-4 col-md-push-4">
								<input type="submit" class="btn btn-primary btn-lg" value="Submit">
							</div>
						</div>
					</form>
				</div><!-- /.col -->
				
			</div><!-- /.row -->
		</div><!-- /.container -->
	</section>
}