@main("resetpswconfirm"){

<section class="wrapper-md bg-custom-home">
		<div class="container">
			<div class="row ">
				<div class="col-sm-12 col-md-6 col-md-offset-3 widget padding-lg bg-dark text-center">
					<h1 class="text-primary text-center"><i class="fa fa-check-circle-o"></i> Success!</h1>
					<br>
					<div id="ShowDiv"></div> 
					<p class="lead">After <span id="time" class="text-primary">6</span> seconds it will jump to index page, if not please <a href="@routes.Application.welcome()"> click this link</a> </p>
					
					<hr >
					<p>If you did not receive the e-mail or continue to have trouble logging in, please call us at 213-xxx-xxxx <i class="fa fa-smile-o"></i></p>
					
				</div><!-- /.col -->
			</div><!-- /.row -->
		</div><!-- /.container -->
	</section>
}