@(content: Html)

  <div style="margin: 0;padding: 0;min-width: 100%">
  	<table class="gmail" style="border-collapse: collapse;border-spacing: 0;width: 768px;min-width: 768px">
  		<tbody>
  			<tr>
  				<td style="padding: 0;vertical-align: top;font-size: 1px;line-height: 1px"> 
  				</td>
  			</tr>
  		</tbody>
  	</table>
  	<table class="wrapper" style="border-collapse: collapse;border-spacing: 0;display: table;table-layout: fixed;width: 100%;min-width: 650px;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;text-rendering: optimizeLegibility;font-family: Arial,Helvetica,sans-serif;">
  		<tbody>
  			<tr>
  				<td class="edge" style="padding: 0;vertical-align: top;width: 100%;padding-left: 32px;padding-right: 32px;background-color: #37a0c2">
					<center>
						<table class="preheader" style="border-collapse: collapse;border-spacing: 0;width: 100%">
							<tbody>
								<tr>
									<td class="title" style="padding: 9px;vertical-align: top;font-size: 11px;line-height: 17px;letter-spacing: 0.01em;text-align: left;color: #f5f0f5;font-family: Lato, Tahoma, sans-serif !important">
									
									</td>
									
								</tr>
								<tr>
									<td class="preheader-buffer" style="padding: 0;vertical-align: top;font-size: 17px;line-height: 17px" colspan="2"> </td>
								</tr>
							</tbody>
						</table>
						<table class="header" style="border-collapse: collapse;border-spacing: 0;width: 100%">
							<tbody>
								<tr>
									<td style="padding: 0;vertical-align: top" align="center">
										<table style="border-collapse: collapse;border-spacing: 0">
											<tbody>
												<tr>
													<td class="logo" style="padding: 15px 32px 32px 32px;vertical-align: top;font-weight: bold;font-size: 42px;line-height: 50px;text-align: center;width: 520px;color: #fff;font-family: Enriqueta,serif;-webkit-font-smoothing: antialiased;" align="center">
														<center>
															<div id="emb-email-header">ShareTheTraining</div>
															
														</center>
													</td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
							</tbody>
						</table>
					</center>
				</td>
			</tr>
		</tbody>
	</table>
	<table class="wrapper" style="border-collapse: collapse;border-spacing: 0;display: table;table-layout: fixed;width: 100%;min-width: 650px;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;text-rendering: optimizeLegibility">
		<tbody>
			<tr>
				<td class="edge" style="padding: 0;vertical-align: top;width: 100%;padding-left: 32px;padding-right: 32px;background-color: #37a0c2">
					<table class="white" style="border-collapse: collapse;border-spacing: 0;width: 100%;background-color: #fff">
						<tbody>
							<tr>
								<td class="buffer" style="padding: 0 42px;vertical-align: top" align="center">
									<table class="one-col" style="border-collapse: collapse;border-spacing: 0;margin-left: auto;margin-right: auto;width: 600px">
										<tbody>
											<tr>
												<td class="column" style="padding: 0;vertical-align: top;text-align: left">
													<div>
														<div class="column-top" style="font-size: 42px;line-height: 42px"> 
														</div>
													</div>
													<table class="contents" style="border-collapse: collapse;border-spacing: 0;width: 100%">
														<tbody>
															<tr>
																<td class="padded" style="padding: 0;vertical-align: top;padding-left: 110px;padding-right: 110px">
							<h1 style="margin-top: 0;font-weight: normal;color: #655766;font-family: Lato, Tahoma, sans-serif !important;font-size: 34px;margin-bottom: 24px;line-height: 50px">Hi, XXX</h1>
							
							<div style="margin-top: 0;color: #655766;font-family: Lato, Tahoma, sans-serif !important;font-size: 16px;line-height: 25px;margin-bottom: 24px">									
								@content
							</div>
															<h4 style="margin-top: 0;font-weight: normal;color: #655766;font-family: Lato, Tahoma, sans-serif !important;font-size: 20px;line-height: 25px">Best regards,
								</h4>
								<p style="margin-top: 0;color: #655766;font-family: Lato, Tahoma, sans-serif !important;font-size: 16px;line-height: 25px;margin-bottom: 24px">ShareTheTraining Team
								</p>
																</td>
															</tr>
														</tbody>
													</table>
													<div class="column-bottom" style="font-size: 30px;line-height: 30px"> 
													</div>
												</td>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
	<div class="spacer" style="font-size: 1px;line-height: 32px;width: 100%;background-color: #37a0c2"> </div>
			
		<table class="wrapper" style="border-collapse: collapse;border-spacing: 0;display: table;table-layout: fixed;width: 100%;min-width: 650px;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;text-rendering: optimizeLegibility ">
			<tbody>
				<tr>
					<td style="padding: 0;vertical-align: top">
						<table class="footer" style="border-collapse: collapse;border-spacing: 0;width: 100%;background-color: #262626;">
							<tbody>
								<tr>
									<td style="padding: 0;vertical-align: top" align="center">
										<table class="inner" style="border-collapse: collapse;border-spacing: 0;width: 600px;">
											<tbody>
												<tr>
													<td class="campaign" style="padding: 0;vertical-align: top;padding-top: 40px;padding-bottom: 70px;padding-right: 5px;width: 47%">
														<table style="border-collapse: collapse;border-spacing: 0" width="100%">
															<tbody>
																<tr>
																	<td class="left" style="padding: 0;vertical-align: top;text-align: left;font-size: 11px;line-height: 18px;color: #f5f0f5;font-family: Lato, Tahoma, sans-serif !important">
														
														
																	</td>
																</tr>
															</tbody>
														</table>
													</td>
													<td class="address" style="padding: 0;vertical-align: top;padding-top: 40px;padding-bottom: 70px;padding-left: 5px;width: 53%;">
														<table style="border-collapse: collapse;border-spacing: 0" width="100%"><tbody><tr><td style="padding: 0;vertical-align: top;font-size: 11px;line-height: 18px;color: #f5f0f5;font-family: Lato, Tahoma, sans-serif !important">
														<table class="social" style="border-collapse: collapse;border-spacing: 0" align="right"><tbody><tr><td style="padding: 0;vertical-align: top;font-size: 11px;line-height: 20px;color: #f5f0f5;font-family: Lato, Tahoma, sans-serif !important;padding-left: 15px;padding-bottom: 20px;text-transform: uppercase">
																	<a style="text-decoration: none;transition: opacity 0.2s;color: #f5f0f5;border-bottom: 1px solid #37a0c2;display: block;font-weight: bold;border: none;font-family: Lato, Tahoma, sans-serif !important" href="http://preview14112404.createsend1.com/t/t-tw-jhktmd-l-j/"><img style="border: 0;-ms-interpolation-mode: bicubic" src="http://i6.createsend1.com/static/eb/master/07-bonbon/images/twitter-dark.png" width="25" height="20" align="top" />Tweet</a>
																</td>
																<td style="padding: 0;vertical-align: top;font-size: 11px;line-height: 20px;color: #f5f0f5;font-family: Lato, Tahoma, sans-serif !important;padding-left: 15px;padding-bottom: 20px;text-transform: uppercase">
																	<a style="text-decoration: none;transition: opacity 0.2s;color: #f5f0f5;border-bottom: 1px solid #37a0c2;display: block;font-weight: bold;border: none;font-family: Lato, Tahoma, sans-serif !important" href="http://preview14112404.createsend1.com/t/t-fb-jhktmd-l-t/" rel="cs_facebox"><img style="border: 0;-ms-interpolation-mode: bicubic" src="http://i7.createsend1.com/static/eb/master/07-bonbon/images/facebook-dark.png" width="25" height="20" align="top" />Like</a>
																</td>
																<td style="padding: 0;vertical-align: top;font-size: 11px;line-height: 20px;color: #f5f0f5;font-family: Lato, Tahoma, sans-serif !important;padding-left: 15px;padding-bottom: 20px;text-transform: uppercase">
																	<a style="text-decoration: none;transition: opacity 0.2s;color: #f5f0f5;border-bottom: 1px solid #37a0c2;display: block;font-weight: bold;border: none;font-family: Lato, Tahoma, sans-serif !important" href="http://client.forwardtomyfriend.com/t-l-2AD73FFF-jhktmd-l-u"><img style="border: 0;-ms-interpolation-mode: bicubic" src="http://i8.createsend1.com/static/eb/master/07-bonbon/images/forward-dark.png" width="25" height="20" align="top" />Forward</a>
																</td>
															</tr></tbody></table></td>
												</tr>
												<tr>
													<td class="right" style="padding: 0;vertical-align: top;text-align: right;font-size: 11px;line-height: 18px;color: #f5f0f5;font-family: Lato, Tahoma, sans-serif !important">
														<p style="margin-top: 0;color: #fff;font-family: Lato, Tahoma, sans-serif !important;font-size: 16px;line-height: 25px;margin-bottom: 24px">© ShareTheTraining, Inc. 2014</p>
													</td>
												</tr></tbody></table></td>
									</tr></tbody></table></td>
						</tr></tbody></table></td>
			</tr></tbody></table>
			<img style="border: 0 !important;-ms-interpolation-mode: bicubic;height: 1px !important;width: 1px !important;margin: 0 !important;padding: 0 !important" src="http://createsend1.com/t/t-o-jhktmd-l/o.gif" width="1px" height="1px" border="0" alt="" />
			
			<div id="fb-root"></div>

	