@(content: Html)
<div style="color: #454c54;font-family: Arial,Helvetica,sans-serif;font-size: 15px;line-height: 1.5;font-weight: normal;-webkit-font-smoothing: antialiased;margin: 0;box-sizing: border-box;">
	<!-- Main Navbar -->
	
		<div class="wrapper-xs bg-primary" style="background:#37a0c2;color:#fff;padding: 1em 0;display: block;box-sizing: border-box;">
			<div class="container"  style="width: 800px;padding-right: 15px;
			  padding-left: 15px;
			  margin-right: auto;
			  margin-left: auto;box-sizing: border-box;display: block;">
					<div class="col-xs-9 col-sm-9 col-md-9" style="width: 60%;float: left;position: relative;
						min-height: 1px;
						padding-right: 15px;
						padding-left: 15px;box-sizing: border-box;display: block;">
						<h1 style="color: #fff;margin-top: 0;font-size: 36px;margin-bottom: 10px;box-sizing: border-box;
							font-family: Enriqueta,Helvetica,Arial,sans-serif;
							font-weight: bold;
							text-transform: capitalize;">
							<p style="margin: 0 0 10px;box-sizing: border-box;display: block;
							">ShareTheTraining</p>
						</h1>
					</div><!-- /.col -->
					<div class="col-xs-3 col-sm-3 col-md-3" style="width: 40%;float: left;position: relative;
						min-height: 1px;
						padding-right: 15px;
						padding-left: 15px;box-sizing: border-box;display: block;">
						<a class="btn btn-md btn-primary" href="#link" style="color: #fff;
							background-color: #37a0c2;
							border-color: #37a0c2;
							text-shadow: 0 -1px 0 #2c7f9a;font-weight: bold;border-radius: 0;background-clip: padding-box;display: inline-block;
							padding: 6px 12px;
							margin-bottom: 0;
							font-size: 16px;
							line-height: 1.428571429;
							text-align: center;
							white-space: nowrap;
							vertical-align: middle;
							cursor: pointer;
							background-image: none;
							border: 1px solid transparent;
							-webkit-user-select: none;text-decoration: none;background: transparent;">
							<i class="fa fa-envelope" style="display: inline-block;
							font-family: FontAwesome;
							font-style: normal;
							font-weight: normal;
							line-height: 1;
							-webkit-font-smoothing: antialiased;content: '\f0e0';"></i> Contact Us
						</a>
						<a class="btn btn-md btn-primary" href="#link" style="color: #fff;
							background-color: #37a0c2;
							border-color: #37a0c2;
							text-shadow: 0 -1px 0 #2c7f9a;font-weight: bold;border-radius: 0;background-clip: padding-box;display: inline-block;
							padding: 6px 12px;
							margin-bottom: 0;
							font-size: 16px;
							line-height: 1.428571429;
							text-align: center;
							white-space: nowrap;
							vertical-align: middle;
							cursor: pointer;
							background-image: none;
							border: 1px solid transparent;
							-webkit-user-select: none;text-decoration: none;background: transparent;">FAQ
						</a>
					</div>
			</div><!-- /.container -->
		</div><!-- /.wrapper -->

		<div class="wrapper-xs bg-primary" style="background:#37a0c2;color:#fff;padding: 1em 0;display: block;box-sizing: border-box;">
			<div class="container"  style="width: 800px;padding-right: 15px;
			  padding-left: 15px;
			  margin-right: auto;
			  margin-left: auto;box-sizing: border-box;display: block;">
				<div class="text-left" style="text-align: left;box-sizing: border-box;display: block;">
					<div class="col-xs-12 col-sm-12 col-md-12" style="width: 100%;position: relative;
						min-height: 1px;
						padding-right: 15px;
						padding-left: 15px;box-sizing: border-box;display: block;">
						<h4 style="color: #fff;margin-top: 0;
							font-family: Enriqueta,Helvetica,Arial,sans-serif;
							font-weight: bold;
							text-transform: capitalize;font-size: 18px;margin-bottom: 10px;line-height: 1.1;box-sizing: border-box;display: block;
							-webkit-margin-before: 1.33em;
							-webkit-margin-after: 1.33em;
							-webkit-margin-start: 0px;
							-webkit-margin-end: 0px;">
							<i class="fa fa-question-circle"></i> </h4>
					</div><!-- /.col -->
				</div><!-- /.row -->
			</div><!-- /.container -->
		</div>
		<div class="wrapper-md  bg-highlight" style="background: #e8e8e8;color: #454c54;padding: 1em 0;display: block;position: relative;min-height: 1px;display: block;">
		<div class="container"  style="width: 800px;padding-right: 15px;
			  padding-left: 15px;
			  margin-right: auto;
			  margin-left: auto;box-sizing: border-box;display: block;">
			<h2 class="headline" style="color: #2f353e; position: relative;
				margin-bottom: 1em;margin-top: 0;
				font-family: Enriqueta,Helvetica,Arial,sans-serif;
				font-weight: bold;
				text-transform: capitalize;font-size: 30px;box-sizing: border-box;display: block;-webkit-margin-before: 0.83em;
				-webkit-margin-after: 0.83em;
				-webkit-margin-start: 0px;
				-webkit-margin-end: 0px;">Hi, XXX
			</h2>
			<div class="lead" style="font-size: 21px;margin-bottom: 20px;
				font-weight: 200;
				line-height: 1.4;margin: 0 0 10px;display: block;
				-webkit-margin-before: 1em;
				-webkit-margin-after: 1em;
				-webkit-margin-start: 0px;
				-webkit-margin-end: 0px;box-sizing: border-box;">
				@content
			</div>

			<h4 style="color: #2f353e;margin-top: 0;
				font-family: Enriqueta,Helvetica,Arial,sans-serif;
				font-weight: bold;
				text-transform: capitalize;font-size: 18px;
				margin-bottom: 10px;line-height: 1.1;box-sizing: border-box;display: block;
				-webkit-margin-before: 1.33em;
				-webkit-margin-after: 1.33em;
				-webkit-margin-start: 0px;
				-webkit-margin-end: 0px;">Best regards,
			</h4>
			<p style="margin: 0 0 10px;box-sizing: border-box;display: block;
				-webkit-margin-before: 1em;
				-webkit-margin-after: 1em;
				-webkit-margin-start: 0px;
				-webkit-margin-end: 0px;">ShareTheTraining Team
			</p>

		</div><!-- /.container -->
	</div>

	
	<div class="wrapper-xs bg-primary" style="background:#37a0c2;
	color:#fff;padding: 1em 0;display: block;box-sizing: border-box;">
			<div class="container"  style="width: 800px;padding-right: 15px;
			  padding-left: 15px;
			  margin-right: auto;
			  margin-left: auto;box-sizing: border-box;display: block;">
				<div class="text-center" style="text-align: center;box-sizing: border-box;display: block;">
					<div class="col-xs-12 col-sm-12 col-md-12" style="width: 100%;position: relative;min-height: 1px;padding-right: 15px;padding-left: 15px;box-sizing: border-box;display: block;">
						<h4 style="color: #fff;margin-top: 0;
							font-family: Enriqueta,Helvetica,Arial,sans-serif;
							font-weight: bold;
							text-transform: capitalize;font-size: 18px;margin-bottom: 10px;line-height: 1.1;box-sizing: border-box;display: block;
							-webkit-margin-before: 1.33em;
							-webkit-margin-after: 1.33em;
							-webkit-margin-start: 0px;
							-webkit-margin-end: 0px;"><i class="fa fa-question-circle"></i> Need help finding a class? Email us at <i class="fa fa-envelope"></i>  
							<a href="#link" style="color: #37a0c2;text-decoration: none;background: transparent;box-sizing: border-box;cursor: auto;"><span class="text-danger" style="color: #c0392b;box-sizing: border-box;">huhuhaha@@ShareTheTraining.com</span>
							</a>
						</h4>
					</div><!-- /.col -->
				</div><!-- /.row -->
			</div><!-- /.container -->
		</div>
	<!-- Footer -->
	<div class="footer-container" style="color: #e8e8e8;display: block;box-sizing: border-box;">
		<div class="footer-secondary" style="padding: 2em 0;background: #262626;display: block;box-sizing: border-box;">
			<div class="container"  style="width: 800px;padding-right: 15px;
			  padding-left: 15px;
			  margin-right: auto;
			  margin-left: auto;box-sizing: border-box;display: block;">
				<div class="text-right" style="text-align: right;box-sizing: border-box;display: block;">
					<div class="col-lg-12" style="width: 100%;position: relative;min-height: 1px;padding-right: 15px;padding-left: 15px;box-sizing: border-box;display: block;">
						<p class="no-margin-bottom" style="margin-bottom: 0!important;margin: 0 0 10px;box-sizing: border-box;display: block;-webkit-margin-before: 1em;-webkit-margin-after: 1em;-webkit-margin-start: 0px;-webkit-margin-end: 0px;"><i class="fa fa-user"></i> Made in USC &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; © ShareTheTraining, Inc. 2014</p>
					</div><!-- /.col -->
				</div><!-- /.row -->
			</div><!-- /.container -->
		</div>
	</div>
</div>

	