@import models.courses._
@(course: Collection[Course])
@import helper._

@main("home page"){

	<!-- hero -->
	<section class="wrapper-md bg-custom-home">
		<div class="container">
			<div class="row">
				<div class="col-sm-4 col-md-3">
					<div class="widget padding-lg bg-dark">
						<h3 class="heading text-light">What would you like to be amazing at:</h3>
						<br class="spacer-lg">
						<form action="@routes.Application.search()" role="form">
							<div class="row">
								<div class="col-md-12">
									<label for="">Course Catagories:</label>
									<select default class="form-control selectpicker show-tick" title='Choose One' data-style="btn-primary" name="cfb.category" id="cfb.dataChoice">
											<optgroup label="Show All">
												<option value="-1" selected="selected">Show All</option>
											</optgroup>
											<optgroup label="Computer Science:">
												<option value="1">algorithm</option>
												<option value="2">database system</option>
											</optgroup>
										</select>
								</div><!-- /.col -->
								
								<div class="col-md-12">
									<label for="">City:</label>
									<select class="form-control selectpicker show-tick" title='Choose One' data-live-search="true" data-style="btn-primary">
										<optgroup label="City:">
											<option>Los Angeles</option>
											<option>Stockholm</option>
											<option>Changai</option>
											<option>Paris</option>
										</optgroup>
									</select>
								</div><!-- /.col -->
								<div class="col-md-12">
									<label for="">Price:</label>
									<select class="form-control selectpicker show-tick" title='Choose One' data-style="btn-primary">
										<optgroup label="Price:">
											<option>Up to $5.000</option>
											<option>Up to $10.000</option>
											<option>Up to $20.000</option>
										</optgroup>
									</select>
								</div><!-- /.col -->
								<div class="col-md-12">
									<label for="">Ready?</label>
									<button class="btn btn-primary btn-block" type="submit">Search</button>
								</div>
							</div>
						</form>
					</div><!-- /.widget -->
				</div><!-- /.col -->
				<div class="col-sm-8">
					<h1 class="text-center text-primary">Share. &nbsp;&nbsp;&nbsp;Training. &nbsp;&nbsp;&nbsp;Enjoy.</h1>
					<br class="spacer-lg">
					<div class="row">
						<div class="col-sm-12 col-md-4 text-center">
							<div class="widget padding-md bg-info">
								<h2><i class="fa fa-list"></i> Listing</h2>
								<p class="lead">We have already sold more than 5,000 Homes and we are still going at very good pace. </p>
							</div>
						</div><!-- /.col -->
						<div class="col-sm-12 col-md-4 text-center">
							<div class="widget padding-md bg-primary">
								<h2><i class="fa fa-flag"></i> Advertise</h2>
								<p class="lead">We have already sold more than 5,000 Homes and we are still going at very good pace. </p>
							</div>
						</div><!-- /.col -->
						<div class="col-sm-12 col-md-4 text-center">
							<div class="widget padding-md bg-success">
								<h2><i class="fa fa-question-circle"></i> Consulting</h2>
								<p class="lead">We have already sold more than 5,000 Homes and we are still going at very good pace. </p>
							</div>
						</div><!-- /.col -->
					</div><!-- /.row -->
				</div>
			</div><!-- /.row -->
		</div><!-- /.container -->
	</section>
	<!-- /hero -->
	<!-- end of sidebars  -->
	
	<section class="wrapper-md ">
		<div class="container">
			<h2 class="headline">Most Popular Courses</h2>
			<div class="row">
				<article class="post">
				@for(c <- course) {
					<div class="panel panel-primary">
						<div class="panel-body bg-highlight">
							<div class="col-sm-12 col-md-4">
								<a href="#link"><img class="img-responsive img-thumbnail" src="assets/img/item-large.jpg"></a>
							</div><!-- /.col -->
							<div class="col-sm-12 col-md-6">
								<h3><a href="item_page.html">Assertive Communication to Reach Your Goals</a></h3>

								<ul class="list-unstyled">
									<li><i class="fa fa-fw fa-th"></i> From: 
										<button type="button" class="btn btn-primary btn-xs"  title="" data-container="body" data-toggle="popover" data-placement="top" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." data-original-title="Popover Title Here">
										@c.getCourseName()</button>
									<i class="fa fa-fw fa-columns"></i>Trainer: 
										<button type="button" class="btn btn-primary btn-xs"  title="" data-container="body" data-toggle="popover" data-placement="top" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." data-original-title="Popover Title Here">
										@c.getCourseName()</button>
									</li>
									<li><i class="fa fa-fw fa-female"></i>Course Rating: <i class="fa fa-fw fa-star"></i><i class="fa fa-fw fa-star"></i><i class="fa fa-fw fa-star"></i><i class="fa fa-fw fa-star"></i><i class="fa fa-fw fa-star"></i><i class="fa fa-fw fa-star-o"></i><i class="fa fa-fw fa-star-o"></i> </li>
									<li><i class="fa fa-fw fa-truck"></i>Trainer Rating: <i class="fa fa-fw fa-star"></i><i class="fa fa-fw fa-star"></i><i class="fa fa-fw fa-star"></i><i class="fa fa-fw fa-star"></i><i class="fa fa-fw fa-star"></i><i class="fa fa-fw fa-star"></i><i class="fa fa-fw fa-star"></i></li>
									<li><i class="fa fa-fw fa-truck"></i>Key Learning Points: @c.getCourseName()</li>
									<li><i class="fa fa-fw fa-truck"></i>Methods: @c.getCourseName()</li>
							</div><!-- /.col -->
							<div class="col-sm-12 col-md-2">
								<p><span class="btn btn-danger">PRICE</span> @c.getCourseName()</p>
								<p><span class="btn btn-success">Max Attendees</span> @c.getCourseName()</p>
								
							</div>
							<div class="col-sm-12 col-md-6">
								<ul class="list-unstyled">
									<li><i class="fa fa-fw fa-signal"></i>Location:
										<ul class="tags btn-sm">
											<li><a href="#link">Downtown LA</a></li>
											<li><a href="#link">Santa Monica LA</a></li>
										</ul>
									</li>
									<li><i class="fa fa-fw fa-truck"></i>Upcoming dates: 
										<ul clas="list-unstyled">
											<li>Su. Oct 26th, 1pm&amp;Downtown LA</li>
											<li>Mon. Oct 27th, 1pm&amp;Santa Monica LA</li>
										</ul>
									</li>
								</ul>
								<p><a href="item_page.html" class="btn btn-primary">View More »</a></p>
							</div>
							<div class="col-sm-12 col-md-2">
								<button class="btn btn-primary btn-lg">Book NOW</button>
							</div>
							
						</div><!-- /.panel-body -->
					</div><!-- /.panel -->
					}
				</article><!-- /.post -->
			</div><!-- /.row -->
		</div><!-- /.container -->
	</section>

}