@import models.users._
@(trainer: Trainer)

@main("trainerinfo"){
	<section class="wrapper-sm bg-highlight">
		<div class="container">
			<div class="row">
				@trainersidebar()

				<!-- Main -->
				<div class="col-sm-12 col-md-9" id="basic info">
					<div class="col-sm-12 col-md-12">
						<div class="col-sm-12 col-md-8">
							<h2>Trainer Information</h2>
						</div>
						<a href="@routes.Application.trainerInfoEdit()" class="btn btn-primary btn-md">Edit</a>
					</div>
					<hr>
					<div class="col-sm-12 col-md-12">
						<div class="row" >
							<div class="col-sm-12 col-md-8 col-md-push-1">
								<div class="panel panel-secondary">
									<div class="panel-heading">
										<h4 class="panel-title">Company Name</h4>
									</div>
									<div class="panel-body text-default">
										<p>@trainer.getCompany()</p>
									</div>
									<div class="panel-heading">
										<h4 class="panel-title">Education</h4>
									</div>
									<div class="panel-body text-default">
										<p>@trainer.getEducation()</p>
									</div>
									<div class="panel-heading">
										<h4 class="panel-title">Working Experience</h4>
									</div>
									<div class="panel-body text-default">
										<p>@trainer.getExperience</p>
									</div>
									<div class="panel-heading">
										<h4 class="panel-title">Certifications</h4>
									</div>
									<div class="panel-body text-default">
										<p>@trainer.getCertification()</p>
									</div>
									<div class="panel-heading">
										<h4 class="panel-title">Distance to deliever a course</h4>
									</div>
									<div class="panel-body text-default">
										<p>@trainer.getHowFar()</p>
									</div>
								</div><!-- /.panel -->
							</div>
						</div>
					</div>
				</div><!-- /.col --><!-- End of main -->
			</div><!-- /.row -->
		</div><!-- /.container -->
	</section>
}
