@import models.users._
@(trainer: Trainer)

@main("trainerbasicinfo"){
	<section class="wrapper-sm bg-highlight">
		<div class="container">
			<div class="row">
			@trainersidebar()
			<!-- Main -->
				<div class="col-sm-12 col-md-9" id="basic info">
					<div class="col-sm-12 col-md-12">
						<div class="col-sm-12 col-md-9">
							<h2>Basic Information</h2>
						</div>
						<a href="@routes.Application.editBasicInfo()" class="btn btn-primary btn-md">Edit</a>
					</div>
					<hr>
					<div class="col-sm-12 col-md-12">
						<div class="row" >
							<div class="col-sm-12 col-md-4">
								<div class="panel panel-secondary">
									<div class="panel-heading">
										<h3 class="panel-title">Photo</h3>
									</div>
									<div class="panel-body">
										<img class="img-responsive img-rounded" src="assets/img/user-1.jpg">
										
									</div>
								</div><!-- /.panel -->
							</div>
							<div class="col-sm-12 col-md-6">
								<ul class="list-group">
									<li class="list-group-item">
										<div class="col-md-4">
											<h4>Name:</h4>
										</div>
										 <h4><span class="text-primary">@trainer.getName()</span></h4>
									</li>
									<li class="list-group-item">
										<div class="col-md-4">
											<h4>Email:</h4>
										</div>
										 <h4><span class="text-primary">@trainer.getEmail()</span></h4>
									</li>
									<li class="list-group-item">
										<div class="col-md-4">
											<h4>Phone:</h4>
										</div>
										 <h4><span class="text-primary">@trainer.getPhone</span></h4>
									</li>
									<li class="list-group-item">
										<div class="col-md-4">
											<h4>Address:</h4>
										</div>
										 <h4><span class="text-primary">@trainer.getLocation().getDetailedLoc()</span></h4>
									</li>
									<li class="list-group-item">
										<div class="col-md-4">
											<h4>State:</h4>
										</div>
										 <h4><span class="text-primary">@trainer.getLocation().getRegion()</span></h4>
									</li>
									<li class="list-group-item">
										<div class="col-md-4">
											<h4>City:</h4>
										</div>
										 <h4><span class="text-primary">@trainer.getLocation().getCity()</span></h4>
									</li>
									<li class="list-group-item">
										<div class="col-md-4">
											<h4>Zipcode:</h4>
										</div>
										 <h4><span class="text-primary"></span></h4>
									</li>
									<li class="list-group-item">
										<div class="col-md-6">
											<h4>Username: </h4>
										</div>
										 <h4><span class="text-primary">@trainer.getUsername</span></h4>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div><!-- /.col --><!-- End of main -->
			</div><!-- /.row -->
		</div><!-- /.container -->
	</section>
}