

@main("trainerchangepsw"){
	<section class="wrapper-sm bg-highlight">
		<div class="container">
			<div class="row">
			@trainersidebar()
			<!-- Main -->
				<div class="col-sm-12 col-md-9" id="change password">
					<h2>Change Passoword</h2>
					<hr>

					<div class="col-sm-12 col-md-8 col-md-push-1">
						<form role="form" action="#" method="post" id="changePass">
							<div class="form-group">
								<label for="oldPass">Original password</label>
								<input type="password" name="oldPass" class="form-control required" id="oldPass" placeholder="">
							</div>
							<div class="form-group">
								<label for="newPass">New password</label>
								<input type="password" name="newPass" class="form-control required" id="newPass">
							</div>
							<div class="form-group">
								<label for="reNewPass">Confirm New password</label>
								<input type="password" name="reNewPass" class="form-control required" id="reNewPass">
							</div>
						</form>
					</div>
					<div class="col-sm-12 col-md-12">
						<div class="col-sm-6 col-md-4 col-md-push-2">
							<button class="btn btn-primary btn-lg">Save</button>
						</div>
						<div class="col-sm-6 col-md-5">
							<button class="btn btn-default btn-lg">Cancel</button>
						</div>
					</div>
				</div><!-- /.col --><!-- End of main -->
			</div><!-- /.row -->
		</div><!-- /.container -->
	</section>
	
}