@tail = {
	
}
@main("trianeraddcourse",tail){

<section class="wrapper-sm bg-highlight">
	<div class="container">
		<div class="row">
			@trainersidebar()
			<!-- Main -->
			<div class="col-sm-12 col-md-9" id="all courses">
				<h2>Add a New Course</h2>
				<hr>
				<div class="col-sm-12 col-md-10">
				<form role="form" action="@routes.Application.traineraddcoursesubmit()"
							 method="post">
					<div class="panel panel-success">
							<div class="panel-heading">
								<h4 class="panel-title">Course Name</h4>
							</div>
							<div class="panel-body text-default">
								<input type="name" class="form-control"
									name="courseName" id="courseName" placeholder="Your course name">
							</div>
							<div class="panel-heading">
								<h4 class="panel-title">Key Learning Points</h4>
							</div>
							
								<li class="list-group-item form-group">
									<input  class="form-control required" data-role="tagsinput" name="key" id="key" placeholder="Please seperate different key points with a comma"></input>
								</li>
							
							<div class="panel-heading">
								<h4 class="panel-title">Price</h4>
							</div>
							<div class="panel-body text-default">
								<input type="text" name="price" id="price" class="form-control"
									id="exmaple-contact-company"
									placeholder="price for per attendees">
							</div>
							<div class="panel-heading">
								<h4 class="panel-title">Maximum attendees</h4>
							</div>
							<div class="panel-body text-default">
								<input type="text" name="courses.maximum" id="courses.maximum" class="form-control"
									id="exmaple-contact-company"
									placeholder="Please define the maximum attendees that the course can hold">
							</div>
							<div class="panel-heading">
								<h4 class="panel-title">Course Overview &amp; Style</h4>
							</div>
							<div class="panel-body text-default">
								<textarea name="courseDesc" id="courseDesc" rows="10" cols="80">

                                </textarea>
							</div>
							<div class="col-sm-12 col-md-12">
								<div class="col-sm-6 col-md-4 col-md-push-2">
									<button class="btn btn-success btn-lg">Submit</button>
								</div>
								<div class="col-sm-6 col-md-5">
									<button class="btn btn-default btn-lg">Cancel</button>
								</div>
							</div>
						
					</div>
					<!-- /.panel -->
					</form>
					
				</div>

			</div>
			<!-- /.col -->
			<!-- End of main -->
		</div>
		<!-- /.row -->
	</div>
	<!-- /.container -->
</section>

}
